{% extends "public/components/base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static "bundles/dashboards.js" %}"></script>
{% endblock %}

{% block content %}

<section class="section">
<h1>People Overview</h1>

<div class="grid-x grid-margin-x">
<table class="hover">
<thead>
  <tr>
  <th>State</th>
  <th>Total Unmatched Entities</th>
</tr>
</thead>
<tbody>
  {% for state, spd in state_people_data.items %}
    <tr class="row--align-top">
      <td><a href="{% url 'people_admin_list' state %}">{{ spd.state }}</a></td>
      <td><a href="{% url 'people_matcher' state %}">{{ spd.unmatched }} </a></td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
</section>

{% endblock %}
