{% extends "public/components/base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static "bundles/dashboards.js" %}"></script>
{% endblock %}

{% block content %}

	<div class="grid-y grid-margin-y">

		<div class="cell">
			<div class="grid-x grid-margin-x medium-up-2" style="margin-bottom: 0%;">
				<div class="cell medium-5">
					<h1 class="heading--large">People Matcher</h1>
					<h2>{{ session }}</h2>
                    <h4>Unmatched Total: {{ unmatched_total }}</h4>
				</div>
				<div class="cell medium-5">
					</br>
					<select id="session" name="session"
                            onchange="window.location.href = '/admin/people/{{ state }}/matcher/' + this.value">
						<option value="">All Available Sessions</option>
						{% for session in all_sessions %}
							<option value="{{ session.identifier }}">{{ session.name }}</option>
						{% endfor %}
				    </select>
				    <button type="button" class="button"><a href="/admin/people/">Back to Listing</a></button>
				</div>
			</div>
		</div>
            <div class="section">
                <table class="hover">
				<thead>
                    <tr>
                    	<th>Unmatched Entity</th>
                    	<th>Context</th>
                    	<th>Match</th>
                        <th>Suppress</th>
                    </tr>
                </thead>
                <tbody>
					{% for entity in unmatched %}
                    <form action="{% url 'apply_person_match' entity.id %}" method="post">
                        {% csrf_token %}
						<tr class="row--align-top">
	                        <td>{{ entity.name }}</td>
                            <td><a href="/{{ state }}/bills/?sponsor_name={{ entity.name }}">{{ entity.sponsorships_count }}</a> Bills Sponsored</td>
                            <td>
                                <select name="match_id">
                                    <option value="">All Available Sponsors</option>
                                    {% for sponsor in state_sponsors %}
                                        <option value="{{ sponsor.id }}">{{ sponsor.name }}</option>
                                    {% endfor %}
				                </select>
                                <input type="submit" class="button" value="Match"/>
                            </td>
                            <td>
                                <input type="submit" class="button" value="Source_error"/>
                                <input type="submit" class="button" value="Ignore"/>
                            </td>
	                    </tr>
                    </form>
					{% endfor %}
				</tbody>
			    </table>
            </div>

	</div>

{% endblock %}
