{% extends "public/components/base.html" %}
{% load static %}

{% block title %}Open States Account Profile{% endblock %}
{% block og_title %}Open States Account Profile{% endblock %}
{% block description %}Open States Account Profile{% endblock %}

{% block content %}
<h1 class="heading--large">Account Profile</h1>

<section>
  <p>You are current logged in as {{ primary_email }}.

    Your email address is

    {% if primary_email.verified %}
    <span class="email-verified">verified</span>.
    {% else %}
    <span class="email-not-verified">not verified</span>.  
    <p>Click the email you received when you signed up, or <a href="/accounts/email/">request a new verification email</a>.
    </p>
    {% endif %}
  </p>

<section>
  <h2 class="heading">Account Management</h2>
  <p>
    <ul>
      <li><a href="/accounts/email/">Manage Email Addresses</a></li>
      <li><a href="/accounts/password/change/">Change Your Password</a></li>
      <li><a href="/accounts/social/connections/">Manage Social Auth Connections</a></li>
    </ul>
  </p>
</section>
{% endblock %}
