{% extends "account/base.html" %}
{% load account socialaccount %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<p>Due to a large volume of spam signups, we now require a social network or Google account to create an account.
    <br>However, we will be re-launching our bill search, follow and subscriptions features on pluralpolicy.com in July.
    Check back then for more account creation options.</p>

{% get_providers as socialaccount_providers %}
<p>Sign up with a third party account:</p>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>

{% endblock %}
