[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencivicdata = "*"
pupa = "*"
django-webpack-loader = "*"
Django = "<3"
graphene = "==2.1.3"
graphene-django = "==2.3.2"
dj-database-url = "*"
django-cors-headers = "*"
bleach = "*"
us = "*"
newrelic = "*"
raven = "*"
represent-boundaries = "*"
name-tools = "*"
django-simplekeys = "*"
"pybase62" = "*"
pip = "==18.0"
python-dateutil = "*"
ipython = "*"
stripe = "*"
feedparser = "*"
"boto3" = "*"
whitenoise = {version = "*", extras = ["brotli"]}

[dev-packages]
ipython = "*"
"flake8" = "*"
pytest = "*"
pytest-django = "*"
Django = "<2.2"

# [requires]
# python_version = "3.6"
