[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencivicdata = "*"
pupa = "*"
django-webpack-loader = "*"
graphene = "*"
graphene-django = "*"
dj-database-url = "*"
django-cors-headers = "*"
bleach = "*"
us = "*"
newrelic = "*"
raven = "*"
Django = "<2.1"
represent-boundaries = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
