# Database schema
-e git+https://github.com/opencivicdata/python-opencivicdata.git#egg=opencivicdata
-e git+https://github.com/opencivicdata/pupa.git#egg=pupa

# Django and related API tooling
Django<=2.1
django-webpack-loader==0.5.0
graphene==2.0.1
graphene-django==2.0.0
dj-database-url
django-cors-headers==2.1.0
bleach==2.1.3

# Metadata
us==1.0.0

# Testing and debugging
# django-silk
flake8
-e git+https://github.com/pytest-dev/pytest-django.git#egg=pytest-django

# Error tracking
newrelic
raven
