{% extends 'dataquality/base.html' %}
{% block body %}
<div class="container">
    <!--Page padding-->
    <br /><br /><br />

    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-12">
            <div class="card">
                <h3 class="card-header default-color white-text">Data Quality Issues</h3>
                <div class="card-block">
                    <div class="row">
                        {% for name, issues in cards.items %}
                        <div class="col-lg-4 title_{{name}}">
                            <p>
                                <p style="color:blue;" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                  {{name|title }} Related</p>
                            </p>
                            <div>
                                <div class="card card-block  {{name}}">
                                    {% for issue, values in issues.items %}
                                        {% if values.count %}
                                    <h6><a class="{{ values.count|yesno:",disabled" }}"href="{% url 'list_issue_objects' jur_id name issue %}" style="color:{{values.alert|yesno:"red,black"}}" >{{values.description}}</a> <span class="badge {{values.alert|yesno:"red,yellow darken-3"}}">{{values.count}}</span></h6>
                                        {% endif %}
                                    {% endfor %}
                                </div><br />
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-12">
            <div class="card">
                <h3 class="card-header default-color white-text">Data Quality Exceptions</h3>
                <div class="card-block">
                    <div class="row">
                        {% for name, issues in exceptions.items %}
                        <div class="col-lg-4 exception_title_{{name}}">
                            <p>
                                <p style="color:blue;" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                  {{name|title }} Related</p>
                            </p>
                            <div>
                                <div class="card card-block  exception_{{name}}">
                                    {% for issue, values in issues.items %}
                                        {% if values.count %}
                                    <h6><a class="{{ values.count|yesno:",disabled" }}"href="{% url 'dataquality_exceptions' jur_id issue 'remove' %}" style="color:{{values.alert|yesno:"red,black"}}" >{{values.description}}</a> <span class="badge {{values.alert|yesno:"red,yellow darken-3"}}">{{values.count}}</span></h6>
                                        {% endif %}
                                    {% endfor %}
                                </div><br />
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Legislators</h3>
                <div class="card-block">
                    <ol style="padding-left: 20px;">
                    </ol>
                    <a class="btn btn-primary" href="{% url 'admin:core_person_changelist' %}?memberships__organization__jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Organizations</h3>
                <div class="card-block">
                    <ul style="padding-left: 20px;">
                        {% for org, count in orgs.items %}
                        <li><a href="{% url 'admin:core_organization_changelist' %}?jurisdiction_id={{jur_id}}&classification={{org.classification}}"> {{org}}</a> ({{count}})</li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-primary" href="{% url 'admin:core_organization_changelist' %}?jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>



    </div>
    <br /><br />
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Bills</h3>
                <div class="card-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Session</td>
                                {% for org in bill_orgs %}
                                    <th>{{org}}</td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in bill_summary %}
                                <tr>
                                {% for item in row %}
                                    <td> {{ item }} </td>        
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="{% url 'admin:legislative_bill_changelist' %}?legislative_session__jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Vote Events</h3>
                <div class="card-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Session</td>
                                {% for org in vote_orgs %}
                                    <th>{{org}}</td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in vote_summary %}
                                <tr>
                                {% for item in row %}
                                    <td> {{ item }} </td>        
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="{% url 'admin:legislative_voteevent_changelist' %}?legislative_session__jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

</div>
</div>
{% endblock %}
{% block custom_scripts %}
<script>
$(document).ready(function(){
    {% for name, issues in cards.items %}
        if($.trim($(".{{name}}").html())=='')
        {
        $(".title_{{name}}").hide();
        }
    {% endfor %}

    {% for name, issues in exceptions.items %}
        if($.trim($(".exception_{{name}}").html())=='')
        {
        $(".exception_title_{{name}}").hide();
        }
    {% endfor %}
});
</script>
{% endblock %}
