{% extends 'dataquality/base.html' %}
{% load tags %}
{% block body %}
<div class="container">
    <!--Page padding-->
    <br /><br /><br />
    <div class="row">
        <h2><strong>{{ related_class|title }} Issues:  {{description}}</strong></h2>
        <a href="{% url 'list_issue_objects' jur_id related_class issue_slug %}">(View All)</a>
        {% if related_class == 'post' and issue_slug == 'many-memberships' %}
          <a class="offset-3" href="{% url 'retire_legislators' jur_id %}">Retirement Tool</a></p>
          <a class="offset-1" href="{% url 'merge' jur_id %}">Merge Tool</a>
        {% endif %}
    </div>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" style="margin-bottom: -30px;margin-top: 10px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
  </div>
    {% endfor %}
  {% endif %}

  {% if related_class == 'person' %}
  <form method="post" action="{% url 'person_resolve_issues' jur_id issue_slug %}" id="my_form">{% csrf_token %}</form>
  {% endif %}

    <table class="table table-bordered table-striped">
        <thead class="thead-default">
            <tr>
                <form method='get'>
                    <th style="width:2%">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </th>

                    {% if related_class == 'person' %}
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="person" placeholder="NAME" value="{{ request.GET.person}}" />
                    </th>
                      <th style="text-align: center;">{{description}}</th>
                      {% if issue_slug != 'missing-photo' %}
                          <th style="text-align: center;">Note</th>
                      {% endif %}
                    {% elif related_class == 'organization' %}
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="organization" placeholder="NAME" value="{{ request.GET.organization}}" />
                    </th>
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="org_classification" placeholder="CLASSIFICATION" value="{{ request.GET.org_classification}}" />
                    </th>
                    {% elif related_class == 'bill' %}
                    <th style="text-align: center; width:15%;">
                        <input style="text-align:center;" type="text" name="bill_identifier" placeholder="IDENTIFIER" value="{{ request.GET.bill_identifier}}" /></th>
                    <th style="text-align: center;width:15%;">
                        <input style="text-align:center;" type="text" name="bill_session" placeholder="SESSION" value="{{ request.GET.bill_session }}" /></th>
                    <th style="text-align: center;">TITLE</th>
                    {% elif related_class == 'voteevent' %}
                    <th style="text-align: center; ">MOTION TEXT</th>
                    <th style="text-align: center;">
                        <input style="text-align:center; width:30%;" type="text" name="voteevent_bill" placeholder="BILL" value="{{ request.GET.voteevent_bill }}" /></th>
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="voteevent_org" placeholder="ORGANIZATION" value="{{ request.GET.voteevent_org}}" /></th>
                    {% elif related_class == 'membership' %}
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="membership" placeholder="UNMATCHED NAME" value="{{ request.GET.membership}}" /></th>
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="membership_org" placeholder="ORGANIZATION" value="{{request.GET.membership_org}}" /></th>
                    {% elif related_class == 'post' %}
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="post_label" placeholder="LABEL" value="{{request.GET.post_label}}" /></th>
                    <th style="text-align: center;">
                        <input style="text-align:center;" type="text" name="post_role" placeholder="ROLE" value="{{ request.GET.post_role}}" /></th>
                    {% endif %}
                    {% if related_class != 'post' %}
                      <th style="text-align: center;">SOURCES</th>
                    {% elif related_class == 'post' and issue_slug == 'many-memberships' %}
                      <th style="text-align: center;">Members</th>
                    {% endif %}
                    {% if related_class != 'post' %}
                      <th style="text-align: center;">IGNORE</th>
                    {% endif %}
                </form>
            </tr>
        </thead>
        <tbody>
            {% for value in objects %}
              <tr id="tr-{{value.id}}">
                <!-- first column -->
                {% if related_class == 'person' %}
                  {% if issue_slug != 'missing-photo' %}
                    <td scope="row"><input type="button" onclick='append_fun("{{ value.id }}")' value="+"></td>
                  {% else %}
                    <td scope="row"></td>
                  {% endif %}
                {% elif related_class == 'organization' %}
                  <td scope="row">
                    <input type="checkbox" class="filled-in" name="{{ value.id }}" form="my_form" style="width: 20px;height: 20px;">
                  </td>
                {% elif related_class == 'membership' %}
                  <td scope="row">
                   <a href="#"><i class="fa fa-external-link" style="color: #004d40;" aria-hidden="true"></i></a>
                  </td>
                {% else %}
                  <td scope="row"></td>
                {% endif %}
                <!-- end of first column -->

                <td align="center">
                  {% if url_slug %}
                    <a href="{% url 'admin:'|add:url_slug value.id %}">{{value.name}}{{value.person_name}}{{value.identifier}}{{ value.motion_text }}{{ value.label }}</a>
                  {% else %}
                    <a href="{% url 'admin:core_organization_change' value.organization.id %}">{{value.person_name}}</a>
                  {% endif %}
                </td>

                {% if related_class == 'person' %}
                  <td align="center"><input type="text" name="{{ value.id }}" form="my_form" /></td>
                  {% if issue_slug != 'missing-photo' %}
                    <td align="center"><input type="text" name="note_{{ value.id }}" form="my_form" /></td>
                  {% endif %}

                {% elif related_class == 'organization' %}
                  <td align="center">{{ value.classification|title }}</td>

                {% elif related_class == 'post' %}
                  <td align="center">{{ value.role|title }}</td>
                  {% if issue_slug == 'many-memberships' %}
                  <td align="center">
                    {% for member in value.memberships.all|dictsortreversed:"start_date" %}
                        <a href="{% url 'retire_legislators' jur_id %}?person={{member.person_name}}"  target="_blank">{{ member.person_name }}</a>
                      <br />
                    {% endfor %}
                  </td>
                  {% endif %}

                {% elif related_class == 'bill' %}
                  <td align="center">{{ value.legislative_session }}</td>
                  <td align="center">{{ value.title }}</td>

                {% elif related_class == 'voteevent' %}
                  <td align="center">{{ value.bill.identifier }} in {{ value.bill.legislative_session }}</td>
                  <td align="center">{{ value.organization}}</td>

                {% elif related_class == 'membership' %}
                  <td align="center">{{ value.organization}}</td>
                {% endif %}

                {% if related_class != 'person' and related_class != 'post'%}
                  <td align="center">
                    {% for item in value.sources.values %}
                      <a href="{{ item.url }}">Link{{forloop.counter}} </a>
                    {% endfor %}
                  </td>

                {% elif related_class != 'post' %}
                  <td align="center">
                    {% for item in value.links.values %}
                      <a href="{{ item.url }}">Link{{forloop.counter}} </a>
                    {% endfor %}
                  </td>
                {% endif %}

                {% if related_class != 'post' %}
                <td scope="row" align="center">
                  <input type="checkbox" class="filled-in" name="{{ value.id }}" form="ignore_form" style="width: 20px;height: 20px;">
                </td>
                {% endif %}
              </tr>
            {% endfor %}
            <br /><br />
        </tbody>
    </table>
    {% if related_class == 'person' or related_class == 'organization' %}
    <button class="btn btn-cyan col-lg-2 offset-lg-6" {% if related_class == 'organization' %}disabled{% endif %} style="margin-left: 900px;" form="my_form" type="submit">
      {% if related_class != 'organization' %}Save{% else %}Delete{% endif %}
    </button>
    {% endif %}
    {% if objects.has_other_pages %}
    <br />
    <nav>
        <ul class="pagination pagination-md">
            {% if objects.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?{% url_replace request 'page' 1 %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %} {% for i in page_range %} {% if objects.number == i %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{i}}</a></li>
            {% endif %} {% endfor %} {% if objects.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace request 'page' objects.paginator.num_pages %}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
            </li>
            {% endif %}
        </ul>
        <span>
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}. (Total {{ objects.paginator.count }} Results)
        </span>
    </nav>
    {% endif %}
    {% if related_class != 'post' %}
    <hr style="background-color:black">
    <form class="form-inline" method="post" action="{% url 'dataquality_exceptions' jur_id issue_slug 'add' %}" id="ignore_form">
      {%  csrf_token %}
      <div class="form-group">
        <label for="exampleInputName2"><h3>Note: </h3></label>
        <input type="text" class="form-control" form="ignore_form" required name="message" id="exampleInputName2" style="margin-left: 20px;height: 20px;width: 850px;">
      </div>
      <button type="submit" class="btn btn-default">Ignore</button>
    </form>
    {% endif %}<br />
{% endblock %}
{% block custom_scripts %}
<script>
{% if related_class == 'person' %}
var i = 1;
function append_fun(h) {
    var target = document.getElementById('tr-' + h);
    var newElement = document.createElement('tr');
    newElement.id = 'sub-tr-'+ i + '-' + h;
    newElement.insertCell(0).innerHTML = "<td scope='row'><input type='button' onclick='delete_fun(\"" + newElement.id + "\")' value='-'></td>";
    newElement.insertCell(1).innerHTML = "";
    newElement.insertCell(2).innerHTML = "<td align='center'><input type='text' name=" + i + "_" +  h + " form='my_form' /></td>";
    newElement.insertCell(3).innerHTML = "<td align='center'><input type='text' name='note_" + i + "_" +  h + "' form='my_form' /></td>";
    target.parentNode.insertBefore(newElement, target.nextSibling );
    i++;
    return newElement;
}

function delete_fun(rowid) {
    var row = document.getElementById(rowid);
    row.parentNode.removeChild(row);
}
{% endif %}
</script>
{% endblock %}
