{% load staticfiles %}
<html>
    <head>
        <title>OpenStates Issue Reporting</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'report' %}" class="top-menu">
                <h1>OpenStates Issues Reporting</h1>
            </a>
        </div>
        <div class="content container">
            <div class="row">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>