{% extends 'admintools/base.html' %}
{% block navbar_header %}
    <a class="navbar-brand" href="#">
        <img src="https://openstates.org/media/images/logo.1ebcbdb5b9ac.png" style="height: 30px" class="d-inline-block align-top" alt="Open:States">
    </a>
{% endblock %}
{% block navclass %}{% endblock %}

{% block custom_css %}
<style>
.thead-default th{
  background-color: #CCCC99;
}
.good {
  color: green;
}
.bad {
  color: #ff5050;
}
.warning {
  color: #ffcc00;
}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
      <div class="row">
<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
  <thead class="thead-default">
    <tr>
      <th style="width:15%"><center>Jurisdiction</center></th>
      <th style="width:13%"><center>Last Run</center></th>
      <th style="width:14%"><center>People</center></th>
      <th style="width:18%"><center>Organization</center></th>
      <th style="width:20%"><center>Bill</center></th>
      <th style="width:20%"><center>VoteEvent</center></th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr class="hoverable">
        <th><a href="{% url 'jurisdiction_intro' jur_name=row.name %}">{{ row.name}}</a></th>
        <!-- Last Run -->
        <td align="center">
          <i  class="fa fa-lg {{ row.run.status|yesno:"fa-check-circle good,fa-close bad"}}"></i>
          {{ row.run.date }}
        </td>

        <!-- People -->
        <td align="center">
          <i class="fa fa-lg {{ row.people.warning|yesno:"fa-warning warning,fa-check-square-o good "}}"></i>
           {{ row.people.warning|default:"" }}
        </td>

        <!-- Organization -->
        <td align="center" >
            {% if row.orgs.error %}
              <i id="tool" data-placement="bottom" title="No Members" class="fa fa-lg fa-user-times bad"></i>
              {{ row.orgs.error}}
            {% endif %}
            {% if row.orgs.warning %}
              <i class="fa fa-lg fa-warning warning"></i>
              {{ row.orgs.warning }}
          {% endif %}
          {% if row.orgs.error == 0 and row.orgs.warning == 0 %}
            <i class="fa fa-lg fa-check-square-o good"></i>
          {% endif %}
        </td>

        <!-- Bill -->
        <td align="center" >
         {% if row.bills.action_error %}
          <i id="tool" data-placement="bottom" title="Missing Actions" class="fa fa-buysellads bad"></i>
          {{ row.bills.action_error }}
         {% endif %}
         {% if row.bills.warning %}
          <i class="fa fa-lg fa-warning warning"></i>
          {{ row.bills.warning }}
         {% endif %}
         {% if row.bills.warning == 0 and row.bills.action_error == 0 %}
          <i class="fa fa-lg fa-check-square-o good"></i>
         {% endif %}
        </td>

        <!-- VoteEvent -->
        <td align="center" >
          {% if row.voteevents.bill_error %}
            <i id="tool" data-placement="bottom" title="Missing Bills" class="fa fa-files-o bad"></i>
           {{ row.voteevents.bill_error }}
          {% endif %}
          {% if row.voteevents.counts_error %}
            <i id="tool" data-placement="bottom" title="Missing Counts" class="fa fa-copyright bad"></i>
             {{ row.voteevents.counts_error }}
          {% endif %}
          {% if row.voteevents.warning %}
           <i class="fa fa-lg fa-warning warning"></i>
           {{ row.voteevents.warning }}
          {% endif %}
          {% if row.voteevents.bill_error == 0 and row.voteevents.counts_error == 0 and row.voteevents.warning == 0 %}
            <i class="fa fa-lg fa-check-square-o good"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
</div>
</div>
{%endblock%}

{% block custom_scripts %}
<script>
// Tooltips Initialization
$(function () {
  $('#tool').tooltip('toggle')
})

</script>
{% endblock %}
