{% extends 'admintools/base.html' %}
{% block body %}
<div class="container">
    <!--Page padding-->
    <br /><br /><br />

    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-12">
            <div class="card">
                <h3 class="card-header default-color white-text">Data Quality Issues</h3>
                <div class="card-block">
                    <div class="row">
                        {% for name, issues in cards.items %}
                        <div class="col-lg-4 title_{{name}}">
                            <p>
                                <a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                                  {{name|title }} Related</a>
                            </p>
                            <div>
                                <div class="card card-block  {{name}}">
                                    {% for issue, values in issues.items %}
                                        {% if values.count %}
                                    <h6><a class="{{ values.count|yesno:",disabled" }}"href="{% url 'list_issue_objects' jur_name name issue %}" style="color:{{values.alert|yesno:"red,black"}}" >{{values.description}}</a> <span class="badge {{values.alert|yesno:"red,yellow darken-3"}}">{{values.count}}</span></h6>
                                        {% endif %}
                                    {% endfor %}
                                </div><br />
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>


    </div>
    <br /><br />
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Legislators</h3>
                <div class="card-block">
                    <p><a href="{% url 'merge' jur_name %}">1. Merge Tool</a></p>
                    <a class="btn btn-primary" href="{% url 'admin:core_person_changelist' %}?memberships__organization__jurisdiction__name={{jur_name}}">View All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Organizations</h3>
                <div class="card-block">
                    {% for org in orgs %}
                    <p><a href="{% url 'admin:core_organization_changelist' %}?jurisdiction__name={{jur_name}}&classification={{org.classification}}">{{ forloop.counter }}. {{org.classification|title}}</a></p>
                    {% endfor %}
                    <a class="btn btn-primary" href="{% url 'admin:core_organization_changelist' %}?jurisdiction__name={{jur_name}}">View All</a>
                </div>
            </div>
        </div>



    </div>
    <br /><br />
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Bills</h3>
                <div class="card-block">
                    {% for organization in bill_orgs %}
                    <p><a href="{% url 'admin:legislative_bill_changelist' %}?legislative_session__jurisdiction__name={{jur_name}}&from_organization__name={{organization.from_organization__name}}">{{ forloop.counter }}. {{organization.from_organization__name|title}} Bills</a></p>
                    {% empty %}
                    <p>Organizations Not Found For Any Bills</p>
                    {% endfor %}
                    <a class="btn btn-primary" href="{% url 'admin:legislative_bill_changelist' %}?legislative_session__jurisdiction__name={{jur_name}}">View All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Vote Events</h3>
                <div class="card-block">
                    {% for organization in voteevent_orgs %}
                    <p><a href="{% url 'admin:legislative_voteevent_changelist' %}?legislative_session__jurisdiction__name={{jur_name}}&organization__name={{organization.organization__name}}">{{ forloop.counter }}. {{organization.organization__name|title}} Vote Events</a></p>
                    {% empty %}
                    <p>Organizations Not Found For Any Vote Events</p>
                    {% endfor %}
                    <a class="btn btn-primary" href="{% url 'admin:legislative_voteevent_changelist' %}?legislative_session__jurisdiction__name={{jur_name}}">View All</a>
                </div>
            </div>
        </div>


    </div>
    <br /><br / />

</div>
</div>
{% endblock %}
{% block custom_scripts %}
<script>
$(document).ready(function(){
    {% for name, issues in cards.items %}
        if($.trim($(".{{name}}").html())=='')
        {
        $(".title_{{name}}").hide();
        }
    {% endfor %}
});
</script>
{% endblock %}
