{% extends 'admintools/base.html' %}
{% block body %}
<div class="container">
    <!--Page padding-->
    <br /><br /><br />

    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-12">
            <div class="card">
                <h3 class="card-header default-color white-text">Data Quality Issues</h3>
                <div class="card-block">
                    <div class="row">
                        {% for name, issues in cards.items %}
                        <div class="col-lg-4 title_{{name}}">
                            <p>
                                <p style="color:blue;" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                  {{name|title }} Related</p>
                            </p>
                            <div>
                                <div class="card card-block  {{name}}">
                                    {% for issue, values in issues.items %}
                                        {% if values.count %}
                                    <h6><a class="{{ values.count|yesno:",disabled" }}"href="{% url 'list_issue_objects' jur_id name issue %}" style="color:{{values.alert|yesno:"red,black"}}" >{{values.description}}</a> <span class="badge {{values.alert|yesno:"red,yellow darken-3"}}">{{values.count}}</span></h6>
                                        {% endif %}
                                    {% endfor %}
                                </div><br />
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-12">
            <div class="card">
                <h3 class="card-header default-color white-text">Data Quality Exceptions</h3>
                <div class="card-block">
                    <div class="row">
                        {% for name, issues in exceptions.items %}
                        <div class="col-lg-4 exception_title_{{name}}">
                            <p>
                                <p style="color:blue;" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                  {{name|title }} Related</p>
                            </p>
                            <div>
                                <div class="card card-block  exception_{{name}}">
                                    {% for issue, values in issues.items %}
                                        {% if values.count %}
                                    <h6><a class="{{ values.count|yesno:",disabled" }}"href="{% url 'dataquality_exceptions' jur_id issue 'remove' %}" style="color:{{values.alert|yesno:"red,black"}}" >{{values.description}}</a> <span class="badge {{values.alert|yesno:"red,yellow darken-3"}}">{{values.count}}</span></h6>
                                        {% endif %}
                                    {% endfor %}
                                </div><br />
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Legislators</h3>
                <div class="card-block">
                    <ol style="padding-left: 20px;">
                        <li><a href="{% url 'merge' jur_id %}"> Merge Tool</a></li>
                        <li><a href="{% url 'retire_legislators' jur_id %}"> Retirement Tool</a></li>
                        <li><a data-toggle="collapse" href="#name_re" aria-expanded="false" aria-controls="collapseExample">Name Resolution Tool</a></li>
                        <div class="collapse" id="name_re">
                            <p style="margin-left: 5px;">
                                <a href="{% url 'name_resolution_tool' jur_id 'unmatched_bill_sponsors' %}">* Bill Sponsors</a><br />
                                <a href="{% url 'name_resolution_tool' jur_id 'unmatched_voteevent_voters' %}">* Voters</a><br />
                                <a href="{% url 'name_resolution_tool' jur_id 'unmatched_memberships' %}">* Memberships</a>
                            </p>
                        </div>
                    </ol>
                    <a class="btn btn-primary" href="{% url 'admin:core_person_changelist' %}?memberships__organization__jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Organizations</h3>
                <div class="card-block">
                    <ol style="padding-left: 20px;">
                        {% for org in orgs %}
                        <li><a href="{% url 'admin:core_organization_changelist' %}?jurisdiction_id={{jur_id}}&classification={{org.classification}}"> {{org.classification|title}}</a></li>
                        {% endfor %}
                    </ol>
                    <a class="btn btn-primary" href="{% url 'admin:core_organization_changelist' %}?jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>



    </div>
    <br /><br />
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Bills</h3>
                <div class="card-block">
                    <ol style="padding-left: 20px;">
                        {% for organization in bill_orgs %}
                        <li><a href="{% url 'admin:legislative_bill_changelist' %}?legislative_session__jurisdiction_id={{jur_id}}&from_organization__name={{organization.from_organization__name}}"> {{organization.from_organization__name|title}} Bills</a></li>
                        {% empty %}
                        <li>Organizations Not Found For Any Bills</li>
                        {% endfor %}
                    </ol>
                    <a class="btn btn-primary" href="{% url 'admin:legislative_bill_changelist' %}?legislative_session__jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

                <h3 class="card-header default-color white-text">Vote Events</h3>
                <div class="card-block">
                    <ol style="padding-left: 20px;">
                        {% for organization in voteevent_orgs %}
                        <li><a href="{% url 'admin:legislative_voteevent_changelist' %}?legislative_session__jurisdiction_id={{jur_id}}&organization__name={{organization.organization__name}}"> {{organization.organization__name|title}} Vote Events</a></li>
                        {% empty %}
                        <li>Organizations Not Found For Any Vote Events</li>
                        {% endfor %}
                    </ol>
                    <a class="btn btn-primary" href="{% url 'admin:legislative_voteevent_changelist' %}?legislative_session__jurisdiction_id={{jur_id}}">View All</a>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

</div>
</div>
{% endblock %}
{% block custom_scripts %}
<script>
$(document).ready(function(){
    {% for name, issues in cards.items %}
        if($.trim($(".{{name}}").html())=='')
        {
        $(".title_{{name}}").hide();
        }
    {% endfor %}

    {% for name, issues in exceptions.items %}
        if($.trim($(".exception_{{name}}").html())=='')
        {
        $(".exception_title_{{name}}").hide();
        }
    {% endfor %}
});
</script>
{% endblock %}
