{% extends 'admintools/base.html' %}
{% load url_replace %}
{% block body %}
<div class="container" id="cats">
    <!--Page padding-->
         <br /><br /><br />
    <!--/.Page padding-->

    <a href="{% url 'list_issue_objects' jur_name related_class issue_slug %}" class="list-group-item active teal lighten-1">
      {{description}}(View All)
  </a>

      <table class="table table-bordered table-striped">
        <thead class="thead-default">
          <tr>
            <form method='get'>
              <th style="width:2%" >
                <button type="submit"><i class="fa fa-search"></i></button></th>
              {% if related_class == 'person' %}
              <th style="text-align: center;" >
                <input style="text-align:center;" type="text" name="person" placeholder="{{ request.GET.person|default:"NAME" }}" />
              </th>
              <th style="text-align: center;" >PERSON ID</th>
              {% elif related_class == 'organization' %}
              <th style="text-align: center;" >
              <input style="text-align:center;" type="text" name="organization" placeholder="{{ request.GET.organization|default:"NAME" }}" />
              </th>
              <th style="text-align: center;" >
                <input style="text-align:center;" type="text" name="org_classification" placeholder="{{ request.GET.org_classification|default:"CLASSIFICATION" }}" />
              </th>
              {% elif related_class == 'bill' %}
                <th style="text-align: center; width:15%;" >
                  <input style="text-align:center;" type="text" name="bill_identifier" placeholder="{{ request.GET.bill_identifier|default:"IDENTIFIER" }}" /></th>
                <th style="text-align: center;width:15%;" >
                  <input style="text-align:center;" type="text" name="bill_session" placeholder="{{ request.GET.bill_session|default:"SESSION" }}" /></th>
                <th style="text-align: center;" >TITLE</th>
              {% elif related_class == 'voteevent' %}
                <th style="text-align: center; " >MOTION TEXT</th>
                <th style="text-align: center;" >
                  <input style="text-align:center; width:30%;" type="text" name="voteevent_bill" placeholder="{{ request.GET.voteevent_bill|default:"BILL" }}" /></th>
                <th style="text-align: center;" >
                  <input style="text-align:center;" type="text" name="voteevent_org" placeholder="{{ request.GET.voteevent_org|default:"ORGANIZATION" }}" /></th>
              {% else %}
              <th style="text-align: center;" >
                <input style="text-align:center;" type="text" name="membership" placeholder="{{ request.GET.membership|default:"UNMATCHED NAME" }}" /></th>
              <th style="text-align: center;" >ORGANIZATION</th>
              <th style="text-align: center;" >MEMBERSHIP ID</th>
              {% endif %}
          </form>
        </tr>
        </thead>
        <tbody>
          {% for value in objects %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td align="center">
                {% if url_slug %}
            <a  href="{% url 'admin:'|add:url_slug value.id %}">{{value.name}}{{value.person_name}}{{value.identifier}}{{ value.motion_text }}</a>
                  {% else %}
            <a href="{% url 'admin:core_organization_change' value.organization.id %}">{{value.person_name}}</a>
                  {% endif %}
              </td>
                {% if related_class == 'person'  %}
                    <td align="center">{{ value.id }}</td>
                {% elif related_class == 'organization' %}
                  <td align="center">{{ value.classification|title }}</td>
                {% elif related_class == 'bill' %}
                    <td align="center">{{ value.legislative_session }}</td>
                    <td align="center">{{ value.title }}</td>
                {% elif related_class == 'voteevent' %}
                  <td align="center">{{ value.bill.identifier }} in {{ value.bill.legislative_session }}</td>
                  <td align="center">{{ value.organization}}</td>
                {% else %}
                  <td align="center">{{ value.organization}}</td>
                  <td align="center">{{ value.id}}</td>
                {% endif %}

            </tr>
          {% endfor %}<br /><br />
        </tbody>
      </table>
      {% if objects.has_other_pages %}
      <br />
      <nav>
        <ul class="pagination pagination-md">
          {% if objects.has_previous %}
            <li class="page-item ">
              <a class="page-link" href="?{% url_replace request 'page' 1 %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
          {% for i in page_range %}
            {% if objects.number == i %}
              <li class="page-item active">
                <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{i}}</a></li>
            {% endif %}
          {% endfor %}
          {% if objects.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{% url_replace request 'page' objects.paginator.num_pages %}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
        <span>
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}. (Total {{ objects.paginator.count }} Results)
        </span>
      </nav>
      {% endif %}<br /><br />
        <div>
</div>
{% endblock %}

{% block custom_scripts %}

{% endblock %}
