{% extends 'admintools/base.html' %}
{% load tags %}
{% block body %}
<div class="container">
    <!--Page padding-->
    <br /><br /><br />
    <form class="form-inline" method="get" action="{% url 'review_person_patches' jur_name %}">
          <div class="md-form form-group">
              <label style="margin-top: -8px;"><strong>Category</strong></label>
            <select name="category" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="margin-left: 80px;">
              <option value="" {% if not category_search %}selected{% endif %}>All</option>
              {% for k, v in categories_ %}
                  <option value="{{k}}" {% if category_search == k %}selected{% endif %}>{{v}}</option>
              {% endfor %}
            </select>
        </div>
          <div class="md-form form-group">
              <label style="margin-top: -8px;"><strong style="margin-left: -20px;">Alert</strong></label>
              <select name="alert" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="margin-left: 20px;">
                <option value="" {% if not alert_search %}selected{% endif %}>All</option>
               {% for k, v in alerts_ %}
                <option value="{{k}}" {% if alert_search == k %}selected{% endif %}>{{v}}</option>
               {% endfor %}
              </select>
          </div>
          <div class="md-form form-group">
              <label style="margin-top: -8px;"><strong style="margin-left: -20px;">By</strong></label>
              <select name="applied_by" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="margin-left: 5px;">
                <option value="" {% if not applied_by_search %}selected{% endif %}>All</option>
                <option value="admin" {% if applied_by_search == 'admin' %}selected{% endif %}>Admin</option>
                <option value="user" {% if applied_by_search == 'user' %}selected{% endif %}>User</option>
              </select>
          </div>
          <div class="md-form form-group">
              <label style="margin-top: -8px;" for="person_input"><strong>Person</strong></label>
              <input style="text-align:center;margin-bottom: 20px;" type="text" name="person" id="person_input" value="{{ request.GET.person}}" />
          </div>
          <div class="md-form form-group">
              <button class="btn btn-cyan" type="submit">Go</button>
          </div>
      </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable" style="margin-bottom: 10px;margin-top: 0px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
  {% endif %}
    <form method="post" action="{% url 'review_person_patches' jur_name %}" id="apply_patch_form">{% csrf_token %}</form>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="table-active">
          <th>Person</th>
          <th>Old Value</th>
          <th>New Value</th>
          <th>Note</th>
          <th style="width:4%">Source</th>
          <th style="text-align: center;">Reporter</th>
          <th style="text-align: center; width:4%;">Action</th>
        </tr>
      </thead>
      <tbody>
         {% for patch in patches %}
            <tr class="hoverable">
              <td>{% person_from_id patch.object_id %}</td>
              <td>{{ patch.old_value }}</td>
              <td>{{ patch.new_value }}</td>
              <td>{{ patch.note }}</td>
              <td style="text-align: center;">
                  <a href="{{ patch.source }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
              <td style="text-align: center;">{{ patch.reporter_email }}</td>
              <td style="text-align: center; width:21%;">
                  <label><input type="radio" class="filled-in radio_custom"  id="a_{{patch.id}}"  value="approved" name="{{ patch.category }}__{{ patch.id }}__{{ patch.object_id }}" form="apply_patch_form" style="width: 20px;height: 20px;"> Approve</label> /
                   <label><input type="radio" class="filled-in radio_custom"  id="r_{{patch.id}}" value="rejected" name="{{ patch.category }}__{{ patch.id }}__{{ patch.object_id }}" form="apply_patch_form" style="width: 20px;height: 20px;"> Reject</label>
                   <button style="margin-left: 5px;" onclick='deselectRadio("{{ patch.id }}")'><i class="fa fa-close"></i></button>
              </td>
            </tr>
        {% empty %}
         <h3>No Patches Available!</h3><br />
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-cyan col-lg-2 offset-lg-6" style="margin-left: 900px;" form="apply_patch_form" type="submit">
        Apply
    </button>
{% if patches.has_other_pages %}
<br />
<nav>
<ul class="pagination pagination-md">
    {% if patches.has_previous %}
    <li class="page-item ">
        <a class="page-link" href="?{% url_replace request 'page' 1 %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %} {% for i in page_range %} {% if patches.number == i %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{i}}</a></li>
    {% endif %} {% endfor %} {% if patches.has_next %}
    <li class="page-item">
        <a class="page-link" href="?{% url_replace request 'page' patches.paginator.num_pages %}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </a>
    </li>
    {% endif %}
</ul>
<span>
    Page {{ patches.number }} of {{ patches.paginator.num_pages }}. (Total {{ patches.paginator.count }} Results)
</span>
</nav>
{% endif %}<br /><br />
</div>
{% endblock %}
{% block custom_scripts %}
<script>
function deselectRadio(patch_id) {
    document.getElementById("a_"+patch_id).checked = false;
    document.getElementById("r_"+patch_id).checked = false;
}
</script>
{% endblock %}
