{% extends 'admintools/base.html' %}
{% load tags %}
{% block body %}
<div class="container">
    <!--Page padding-->
    <br /><br /><br />
    <form class="form-inline" method="get" action="{% url 'review_person_patches' jur_name %}">
        <div class="md-form form-group">
            <label style="margin-top: -8px;"><strong>Category</strong></label>
          <select name="category" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="margin-left: 80px;">
            <option value="" {% if not category_search %}selected{% endif %}>All</option>
            <option value="name" {% if category_search == 'name' %}selected{% endif %}>Name</option>
            <option value="image" {% if category_search == 'image' %}selected{% endif %}>Image</option>
            <option value="voice" {% if category_search == 'voice' %}selected{% endif %}>Phone</option>
            <option value="email" {% if category_search == 'email' %}selected{% endif %}>Email</option>
            <option value="address" {% if category_search == 'address' %}selected{% endif %}>Address</option>
          </select>
      </div>
        <div class="md-form form-group">
            <label style="margin-top: -8px;"><strong>Alert</strong></label>
            <select name="alert" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="margin-left: 50px;">
              <option value="" {% if not alert_search %}selected{% endif %}>All</option>
              <option value="error" {% if alert_search == 'error' %}selected{% endif %}>Error</option>
              <option value="warning" {% if alert_search == 'warning' %}selected{% endif %}>Warning</option>
            </select>
        </div>
        <div class="md-form form-group">
            <button class="btn btn-cyan" type="submit">Go</button>
        </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable" style="margin-bottom: 10px;margin-top: 0px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
  {% endif %}
    <form method="post" action="{% url 'review_person_patches' jur_name %}" id="apply_patch_form">{% csrf_token %}</form>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="table-active">
          <th>Person</th>
          <th>Old Value</th>
          <th>New Value</th>
          <th>Note</th>
          <th style="width:4%">Source</th>
          <th style="text-align: center;">Reporter</th>
          <th style="text-align: center; width:4%;">Approve</th>
          <th style="text-align: center; width:4%;">Reject</th>
        </tr>
      </thead>
      <tbody>
         {% for patch in patches %}
            <tr class="hoverable">
              <td>{% person_from_id patch.object_id %}</td>
              <td>{{ patch.old_value }}</td>
              <td>{{ patch.new_value }}</td>
              <td>{{ patch.note }}</td>
              <td style="text-align: center;">
                  <a href="{{ patch.source }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
              <td style="text-align: center;">{{ patch.reporter_email }}</td>
              <td style="text-align: center;">
                  <input type="checkbox" class="filled-in" name="approved_{{ patch.object_id }}" form="apply_patch_form" style="width: 20px;height: 20px;">
              </td>
              <td style="text-align: center;">
                   <input type="checkbox" class="filled-in" name="deprecated_{{ patch.object_id }}" form="apply_patch_form" style="width: 20px;height: 20px;">
              </td>
            </tr>
        {% empty %}
         <h3>No Patches Available!</h3><br />
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-cyan col-lg-2 offset-lg-6" style="margin-left: 900px;" form="apply_patch_form" type="submit">
        Apply
    </button>
{% if patches.has_other_pages %}
<br />
<nav>
<ul class="pagination pagination-md">
    {% if patches.has_previous %}
    <li class="page-item ">
        <a class="page-link" href="?{% url_replace request 'page' 1 %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %} {% for i in page_range %} {% if patches.number == i %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{i}}</a></li>
    {% endif %} {% endfor %} {% if patches.has_next %}
    <li class="page-item">
        <a class="page-link" href="?{% url_replace request 'page' patches.paginator.num_pages %}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </a>
    </li>
    {% endif %}
</ul>
<span>
    Page {{ patches.number }} of {{ patches.paginator.num_pages }}. (Total {{ patches.paginator.count }} Results)
</span>
</nav>
{% endif %}<br /><br />
</div>
{% endblock %}
