{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Open States Widgets</title>
    <style type="text/css">
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <header class="header">
        <div class="grid-container" id="header__top">
            <a href="/">
              <img class="header__logo" width="250" src="{% static 'images/openstates_logo.png' %}" alt="OpenStates Logo">
            </a>
        </div>
        <div class="bluebar"> </div>
    </header>

    <h1>Open States Widgets</h1>
    <p>
      We're providing pre-built pieces of functionality that you can use to embed Open States data on your site.
    </p>

    <p>
      Widgets are free-to-use for small sites, and we also offer some paid options if you'd like to customize or need to exceed our free limits.
    </p>

    <div id="your-widgets">
    <h2>Your Widgets</h2>
    </div>

    <div id="available-widgets">
    </div>

  </body>
</html>
