{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143711479-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-143711479-1');
        </script>
        <script>
          !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
          posthog.init('mqL8EhYKXsxjyIVfDf2GI68JrIS6DYb75JHRDZ3_Osk', {api_host: 'https://app.posthog.com'})
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Open States{% endblock %}</title>
        <meta name="description" property="og:description" content="{% block description %}{% endblock %}">
        {% if bill %}<meta name="bill:id" content="{{bill.id}}">{% endif %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@openstates">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:title" content="{% block og_title %}Open States{% endblock %}">
        <meta property="og:image" content="{% block og_image %}https://{{ request.get_host }}{% static "images/openstates_icon_transparent.png" %}{% endblock %}">
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png?v=20190106' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png?v=20190106' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png?v=20190106' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest?v=20190106' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg?v=20190106' %}" color="#233240">
        <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico?v=20190106' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="{% static 'images/favicon/browserconfig.xml?v=20190106' %}">
        <meta name="theme-color" content="#ffffff">

        {% block styles %}
        {% endblock %}
    </head>

    <body>
        {% header %}

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12 mt1">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% include "./footer.html" %}
        <script src="{% static "bundles/main.js" %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
