{% load custom_tags %}

<div class="cell"><div class="card" onclick="this.querySelector('a').click()"><div>
    <h3 class="heading--small"><a href="{% canonical_url bill %}">
        {{ bill.identifier }}
        {% if bill.state %} ({{ bill.state|state_name }}) {% endif %}
    </a></h3>
    <p>{{ bill.title|titlecase_caps }}</p>

    <ul class="card__detail-group">
    <li class="card__detail type--xsmall">
        Introduced {{ bill.first_action_date|fdate:"%b %d %Y" }}
    </li>
    {% if bill.latest_action_date != bill.first_action_date %}
    <li class="card__detail type--xsmall">
        {{ bill.latest_action_description }} {{ bill.latest_action_date|fdate:"%b %d %Y" }}
    </li>
    {% endif %}
    {% if bill.first_sponsors %}
    <li class="card__detail type--xsmall">Sponsored by
        {% spaceless %}
        {% for sponsorship in bill.first_sponsors %}
            {% if sponsorship.person %}
            <a href="{% canonical_url sponsorship.person %}">{{ sponsorship.person }}</a>{% if not forloop.last or bill.extra_sponsors %},{% endif %} 

            {% elif sponsorship.organization %}
                {{ sponsorship.organization }} {% if not forloop.last or bill.extra_sponsors %},{% endif %}

            {% else %}
                {{ sponsorship.name|title }}{% if not forloop.last or bill.extra_sponsors %},{% endif %}
            {% endif %}
        {% endfor %}
            {% if bill.extra_sponsors %}
            and {{ bill.extra_sponsors}} more.
            {% endif %}
        {% endspaceless %}
    </li>
    {% endif %}
    </ul>
</div></div></div>
