<footer class="footer">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell medium-4">
                <h2 class="heading--xsmall">About</h2>
                <ul class="no-bullet">
                    <li><a href="/find_your_legislator/">Find Your Legislators</a></li>
                    <li><a href="/about/subscriptions/">Track State Bills</a></li>
                    <li><a href="/about/">About Open States</a></li>
                    <li><a href="/tos/">Terms of Use &amp; Privacy</a></li>
                </ul>
            </div>

            <div class="cell medium-4">
                <h2 class="heading--xsmall">Code &amp; Data</h2>
                <ul class="no-bullet">
                    <li><a href="https://github.com/openstates">Code on GitHub</a></li>
                    <li><a href="https://docs.openstates.org/en/latest/api/v3/">API Documentation</a></li>
                    <li><a href="/data/">Bulk Data</a></li>
                    <li><a href="https://github.com/openstates/issues/issues/new/choose">Report an Issue</a></li>
                    <li><a href="/about/contributing/">Contribute To Open States</a></li>
                </ul>
            </div>

            <div class="cell medium-4">
                <h2 class="heading--xsmall">Follow Us</h2>
                <ul class="no-bullet">
                    <li><a href="https://twitter.com/openstates">Twitter</a></li>
                    <li><a href="https://blog.openstates.org/">Blog</a></li>
                    <li><a href="https://github.com/openstates/issues/discussions">Discussion</a></li>
                    <li><a href="https://join.slack.com/t/open-states/shared_invite/zt-njrpuaoi-JP0bROOFtZLdtNHN3LsuFg">Slack</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
