{% load static %}

{% comment %}
If adding any variables to this template, make sure they're also passed through in the 
appropriate template tag.  This template isn't rendered with direct inclusion, so it gets
context ~a little differently~.
{% endcomment %}

<header class="header">
    <div class="grid-container" id="header__top">
        <a href="{% url 'home' %}">
            <img class="header__logo" width="250" src="{% static 'images/openstates_logo.svg' %}" alt="OpenStates Logo">
        </a>

       <div id="header__login">
         {% if user.is_authenticated %}
         <a href="/accounts/profile/">{{ user.username|default:"Profile" }}</a> |
         <a href="/accounts/logout/">Sign Out</a>
         {% else %}
         <a href="/accounts/login/">Log In</a> /
         <a href="/accounts/signup/">Sign Up</a>
         {% endif %}
       </div>
    </div>

    {% if state_nav != "disabled" %}
    <div class="navigation">
        <div class="grid-container">
            <div class="navigation__container">

                <div class="navigation__section navigation__select-wrapper">
                    <select class="navigation__select" onchange="window.location.href = '/' + this.value">
                        {% if not state %}
                            <option value="">Select a state</option>
                        {% endif %}
                        {% for st in states %}
                            <option value="{{ st.abbr|lower }}" {% if st.abbr|lower == state %}selected{% endif %}>{{ st.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <ul class="navigation__section navigation__menu">
                {% if state %}
                    <li><a {% if state_nav == "overview" %} class="is-active" {% endif %} href="{% url 'state' state %}">Overview </a></li>
                    <li><a {% if state_nav == "legislators" %} class="is-active" {% endif %} href="{% url 'legislators' state %}">Legislators</a></li>
                    <li><a {% if state_nav == "bills" %} class="is-active" {% endif %} href="{% url 'bills' state %}">Bills</a></li>
                    <li><a {% if state_nav == "committees" %} class="is-active" {% endif %} href="{% url 'committees' state %}">Committees</a></li>
                {% endif %}
                </ul>

                <form action="/search/" id="header__search">
                <div class="input-group">
                    <input class="input-group-field" type="search" placeholder="Search bills and legislators..." name="query">
                    {% if state %}
                    <input type="hidden" name="state" value="{{ state }}">
                    {% endif %}
                    <div class="input-group-button">
                        <button type="submit" class="button button--secondary">
                          Search
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>
    {% endif %}

    <div class="donation-banner">
      Email notifications are now in beta! <a href="/about/subscriptions/">Learn more</a> and <a href="https://openstates.org/accounts/login/">sign up today</a>!
      <br>
      Open States depends upon donations to keep our servers running.  If you find Open States useful please consider <a href="https://patreon.com/openstates/">becoming a patron</a> or making a <a href="/donate/">one-time donation</a> today.
    </div>

    <div class="blm-banner">
      <p>Open States' stated mission is to improve civic engagement.</p>
    <p>To be true to that goal, we can not stand by and be silent when a large portion of Americans face systemic racism and other forms of oppression.  That oppression has meant being excluded from civic participation at the ballot box, being called un-American for peaceful protests, and being denied justice for crimes committed against them.</p>
  <p>
  Please consider giving to <a href="https://lifehacker.com/where-to-donate-to-help-people-fighting-for-racial-just-1843852418">local causes that support racial justice</a> in your area.
  </p>

  <b>#BlackLivesMatter</b>
  </p>

    {% if messages %}
    <div class="notification-banner">
      <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
</header>
