// Buttons

/**
Custom button classes using Foundation's button mixins
For more on button mixins, see https://foundation.zurb.com/sites/docs/button.html
**/

.button {
    @include button(false, $white, $color-gray-light, $color-primary, solid);
    font-weight: $global-weight-bold;
    border: $global-border-width solid $color-primary;
}

.button--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
        background-color: $button-background-hover;
        color: $color-white;
    }
}

.button--secondary {
    background-color: $color-secondary;
    border: $global-border-width solid $color-secondary;
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
        background-color: $button-background-hover;
        color: $color-white;
    }
}


/**
Custom button-group classes using Foundation's button-group mixins
For more on button group mixins, see: https://foundation.zurb.com/sites/docs/button-group.html
**/


.button-group {
    @include button-group(button, -$global-border-width);

    .button--active {
        background-color: $primary-color;
        color: $button-color;
    }

    .button--active:hover,
    .button--active:active {
        background-color: $button-background-hover;
    }
}
