// Cards

.card {
    background-color: $color-gray-lighter;
    padding: 1rem;
    position: relative;
    top: 0;
    transition: background-color 200ms ease-in-out,
                top 150ms ease-in-out;


    &:hover {
        background-color: darken($color-gray-lighter, 2%);
        cursor: pointer;
        top: -0.15rem;
        box-shadow: 0 2px 0.25rem rgba(0, 0, 0, 0.05);
    }
}

.card__detail-group {
    display: block;
    margin-left: 0;
    margin-bottom: 1rem;
}

.card__detail {
    display: inline-block;
    margin-right: 0.5rem;

    &:before {
        content: '\02022';
        display: inline-block;
        margin-right: 0.5rem;
    }

    &:first-of-type:before {
        @include breakpoint(medium) {
            content: normal;
        }
    }
}

.card--profile {
    display: flex;
    flex-direction: row;
}

.card__heading {
    font-weight: normal;
    margin-bottom: 0;
}
