// Inputs

// General text inputs
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    border-width: 1px;
    transition: border ease-in 200ms;
    
    &:focus,
    &:active {
        border-color: $color-primary;
        border-width: 2px;
    }

}


// Checkbox
input[type='checkbox'] {
    -webkit-appearance: none;
    border: 2px solid $color-primary;
    background-color: $color-white;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color ease-in 150ms;

    &:checked {
        background-color: $color-primary;
        position: relative;

        &:after {
            content: '';
            background: #fff;
            box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
            content: '';
            height: 2px;
            transform: rotate(40deg);
            width: 2px;
            position: absolute;
            left: 3px;
            top: 8px;
        }
    }
}

// Radio
input[type='radio'] {
    -webkit-appearance: none;
    position: relative;
    border: 2px solid $color-primary;
    background-color: $color-white;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &:after {
        content: '';
        display: block;
        background-color: $color-gray;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 2px;
        transition: background-color ease-in 150ms;
    }

    &:checked:after {
        background-color: $color-primary;
    }
}


[type='checkbox'] + label, [type='radio'] + label {
    vertical-align: middle;
    font-weight: normal;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}


legend {
    font-weight: 700;
}

.help-text {
    font-weight: normal;
    margin-top: 0;
}
