// Overview Blocks

.overview {
    background-color: $color-gray-lighter;
}

.overview__header {
    display: flex;
    padding: 1rem;
}

.overview__heading {
    @extend .heading--large;
    line-height: 1;

    @include breakpoint(medium) {
        line-height: 1.2;
    }
}

.overview__section {
    border-top: 1px solid $color-gray;
    padding: 1rem;
}

    .overview__section--parent {
        display: flex;
        padding: 0;
        flex-wrap: wrap;

        @include breakpoint(large) {
            flex-wrap: nowrap;
        }
    }

.overview__subsection {
    justify-content: space-between;
    padding: 1rem;
    flex: 1;
    min-width: 100%;
    
    @include breakpoint(medium) {
        min-width: 250px;        
    }

    @include breakpoint(large) {
        min-width: auto;        
    }

    & + & {
        border-top: 1px dashed $color-gray;
    
        @include breakpoint(medium) {
            border-top: 0;
        }

        @include breakpoint(large) {
            border-left: 1px solid $color-gray;
        }
    }
}

    .overview__subsection--map {
        flex: 1;
        @include breakpoint(large) {
            min-width: 280px;
            flex: 0;
        }
    }

.map {
    border-radius: 4px;
}


.overview__footer {
    padding: 1rem;
}


.contact {
    font-style: normal;
}

.contact__label {
    @extend .heading--xsmall;
    min-width: 60px;
    display: block;

    @include breakpoint(large) {
        display: inline-block;
    }
}
