// Overview Blocks

.overview {
    background-color: $color-gray-lighter;
}

.overview__header {
    display: flex;
    padding: 1rem;
}

.overview__section {
    border-top: 1px solid $color-gray;
    padding: 1rem;
}

    .overview__section--parent {
        display: flex;
        padding: 0;
    }

.overview__subsection {
    justify-content: space-between;
    padding: 1rem;
    flex: 1;

    & + & {
        border-left: 1px solid $color-gray;
    }
}

    .overview__subsection--map {
        flex: 0;
        min-width: 280px;
    }

.map {
    border-radius: 4px;
}


.overview__footer {
    padding: 1rem;
}


.contact {
    font-style: normal;
}

.contact__label {
    @extend .heading--xsmall;
    min-width: 60px;
    display: inline-block;
}
