
.sidebar {

    border-bottom: 1px solid $color-gray;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
        margin-left: 1rem;
        padding-left: 2rem;
        border-left: 1px solid $color-gray;
        margin-bottom: 0;
    }

}
