{% extends "public/components/base.html" %}
{% load render_bundle from webpack_loader %}
{% load custom_tags %}
{% block scripts %}
    {% render_bundle 'dashboards' 'js' %}
{% endblock %}
{% block styles %}
    {% render_bundle 'dashboards' 'css' %}
{% endblock %}

{% block content %}

	<section class="section">
		<h1>Data Quality Reports</h1>

		<div class="grid-x grid-margin-x">
			<table class="hover">
				<thead>
                    <tr>
                    	<th>State</th>
                    	<th>Link to Data Quality Report</th>
                    	<th></th>
                    </tr>
                </thead>
                <tbody>
					{% for state in states %}
						<tr class="row--align-top">
	                        <td>{{ state }}</td>
	                        <td><a href="/dashboard/dq_overview/{{ state.abbr }}/">Link</a></td>
	                        <td></td>
	                    </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

{% endblock %}