{% extends "public/components/base.html" %}
{% load render_bundle from webpack_loader %}
{% load custom_tags %}
{% block scripts %}
    {% render_bundle 'dashboards' 'js' %}
{% endblock %}
{% block styles %}
    {% render_bundle 'dashboards' 'css' %}
{% endblock %}

{% block content %}

	<h1 class="heading--large">Data Quality Dashboard - {{ session }}</h1>
	<div class="grid-y grid-margin-y">
	
		<section class="section">
			<div class="grid-container full">	
				<div class="medium-2">
					<select id="session" name="session" onchange="window.location.href = '/dashboard/dq_overview/{{ state }}/' + this.value">
						<option value="">All Available Sessions</option>
						{% for session in all_sessions %}
							<option value="{{ session.identifier }}">{{ session.name }}</option>
						{% endfor %}
				    </select>
				</div>
			</div>
		</section>
		
		<div class="grid-x grid-margin-x medium-up-2">
			{% for dashboard in dashboards %}
				<div class="cell">
				
					<h2 class="heading--medium">{{ dashboard.chamber }}</h2>
					<section class="section">
						<h2 class="heading--medium">Bills Per Session:</h2>
						<div class="grid-container full">
							<p>Total Bills: {{ dashboard.total_bills }}</p>
							<p>Latest Bill Created Date: {{ dashboard.latest_bill_created_date }}</p>
							<p>Latest Action Date: {{ dashboard.latest_action_date }}</p>
							<p>Earliest Action Date: {{ dashboard.earliest_action_date }}</p>
						</div>
					</section>


					<section>
						<h2 class="heading--medium">Average Number Data:</h2>
						<div class="grid-container full">
							<div class="cell">
									<div class="grid-x grid-margin-x medium-up-2">
										<div class="cell">
											<h3 class="heading--small">Sponsors Per Bill</h3>
											<p>Average: {{ dashboard.average_sponsors_per_bill }}</p>
											<p>Min: {{ dashboard.min_sponsors_per_bill }}</p>
											<p>Max: {{ dashboard.max_sponsors_per_bill }}</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Actions Per Bill</h3>
											<p>Average: {{ dashboard.average_actions_per_bill }}</p>
											<p>Min: {{ dashboard.min_actions_per_bill }}</p>
											<p>Max: {{ dashboard.max_actions_per_bill }}</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Votes Per Bill</h3>
											<p>Average: {{ dashboard.average_votes_per_bill }}</p>
											<p>Min: {{ dashboard.min_votes_per_bill }}</p>
											<p>Max: {{ dashboard.max_votes_per_bill }}</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Documents Per Bill</h3>
											<p>Average: {{ dashboard.average_documents_per_bill }}</p>
											<p>Min: {{ dashboard.min_documents_per_bill }}</p>
											<p>Max: {{ dashboard.max_documents_per_bill }}</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Versions Per Bill</h3>
											<p>Average: {{ dashboard.average_versions_per_bill }}</p>
											<p>Min: {{ dashboard.min_versions_per_bill }}</p>
											<p>Max: {{ dashboard.max_versions_per_bill }}</p>
										</div>
									</div>
							</div>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Source Data:</h2>
						<div class="grid-container full">
							<p>Total Bills No Sources: {{ dashboard.total_bills_no_sources }}</p>
							<p>Total Votes No Sources: {{ dashboard.total_votes_no_sources }}</p>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Bill Subjects:</h2>
						<div class="grid-container full">
							<p>Overall Number of Subjects: {{ dashboard.overall_number_of_subjects }}</p>
							<p>Number of Subjects in Chamber: {{ dashboard.number_of_subjects_in_chamber }}</p>
							<p>Number of Bills Without Subjects: {{ dashboard.number_of_bills_without_subjects }}</p>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Bill Versions:</h2>
						<div class="grid-container full">
							<p>Total Bills Without Versions: {{ dashboard.total_bills_without_versions }}</p>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Vote Data:</h2>
						<div class="grid-container full">
							<p>Total Votes Without Voters: {{ dashboard.total_votes_without_voters }}</p>
							<p>Total Votes Bad Counts: {{ dashboard.total_votes_bad_counts }}</p>
						</div>
					</section>

					</br>
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}