{% extends "public/components/base.html" %}
{% load render_bundle from webpack_loader %}
{% load custom_tags %}
{% block scripts %}
    {% render_bundle 'dashboards' 'js' %}
{% endblock %}
{% block styles %}
    {% render_bundle 'dashboards' 'css' %}
{% endblock %}

{% block content %}

	<h1 class="heading--large">Data Quality Dashboard - {{ state }}</h1>
	<div class="grid-y grid-margin-y">
	
		<section class="section">
			<div class="grid-container full">	
				<div class="medium-2">
					<select id="session" name="session">
						<option value="">All Available Sessions</option>
						{% for session in all_sessions %}
							<option value="{{ session.identifier }}">{{ session.name }}</option>
						{% endfor %}
				    </select>
				</div>
			</div>
		</section>

		<h2 class="heading--medium">Total Dashboards: {{ total_dashboards }}</h2>

		<div class="grid-x grid-margin-x medium-up-2">
			{% for dashboard in dashboards %}
				<div class="cell">
				
					<h2 class="heading--medium">{{ dashboard.chamber }}</h2>
					<section class="section">
						<h2 class="heading--medium">Bills Per Session:</h2>
						<div class="grid-container full">
							<p>Total Bills:</p>
							<p>Latest Bill Created Date:</p>
							<p>Latest Action Date:</p>
							<p>Earliest Action Date:</p>
						</div>
					</section>


					<section>
						<h2 class="heading--medium">Average Number Data:</h2>
						<div class="grid-container full">
							<div class="grid-x grid-margin-x medium-up-2">
								<div class="cell">
									<div class="grid-x grid-margin-x medium-up-2">
										<div class="cell">
											<h3 class="heading--small">Sponsors Per Bill</h3>
											<p>Average:</p>
											<p>Min:</p>
											<p>Max:</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Actions Per Bill</h3>
											<p>Average:</p>
											<p>Min:</p>
											<p>Max:</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Votes Per Bill</h3>
											<p>Average:</p>
											<p>Min:</p>
											<p>Max:</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Documents Per Bill</h3>
											<p>Average:</p>
											<p>Min:</p>
											<p>Max:</p>
										</div>

										<div class="cell">
											<h3 class="heading--small">Versions Per Bill</h3>
											<p>Average:</p>
											<p>Min:</p>
											<p>Max:</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Source Data:</h2>
						<div class="grid-container full">
							<p>Total Bills No Sources:</p>
							<p>Total Votes No Sources</p>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Bill Subjects:</h2>
						<div class="grid-container full">
							<p>Overall Number of Subjects:</p>
							<p>Number of Subjects in Chamber:</p>
							<p>Number of Bills Without Subjects:</p>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Bill Versions:</h2>
						<div class="grid-container full">
							<p>Total Bills Without Versions:</p>
						</div>
					</section>

					</br>

					<section>
						<h2 class="heading--medium">Vote Data:</h2>
						<div class="grid-container full">
							<p>Total Votes Without Voters:</p>
							<p>Total Votes Bad Counts:</p>
						</div>
					</section>

					</br>
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}