{% extends "public/components/base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static "bundles/dashboards.js" %}"></script>
{% endblock %}

{% block content %}

    	<section class="section">
		<h1>People Matching Overview</h1>

		<div class="grid-x grid-margin-x">
			<table class="hover">
				<thead>
                    <tr>
                    	<th>State</th>
                    	<th>Session Name</th>
                    	<th>Total Unmatched Entities</th>
                    </tr>
                </thead>
                <tbody>
					{% for state in state_people_data.items %}
						<tr class="row--align-top">
	                        <td><a href="/dashboard/people_dashboard/{{ state }}/">{{ dqr.state }}</a></td>
	                        <td>{{ dqr.session_name }}</td>
                            <td>{{ dqr.unmatched }}</td>
	                    </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

{% endblock %}
