{% extends "public/components/base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static "bundles/dashboards.js" %}"></script>
{% endblock %}

{% block content %}

	<div class="grid-y grid-margin-y">

		<div class="cell">
			<div class="grid-x grid-margin-x medium-up-2" style="margin-bottom: 0%;">
				<div class="cell medium-5">
					<h1 class="heading--large">People Matcher</h1>
					<h2>{{ session }}</h2>
				</div>
				<div class="cell medium-5">
					</br>
					<select id="session" name="session" onchange="window.location.href = '/dashboard/people/{{ state }}_matcher/' + this.value">
						<option value="">All Available Sessions</option>
						{% for session in all_sessions %}
							<option value="{{ session.identifier }}">{{ session.name }}</option>
						{% endfor %}
				    </select>
				    <button type="button" class="button"><a href="/dashboard/people/">Back to Listing</a></button>
				</div>
			</div>
		</div>
            <div class="section">
                <table class="hover">
				<thead>
                    <tr>
                    	<th>Unmatched Entity</th>
                    	<th>Context</th>
                    	<th>Match</th>
                        <th>Suppress</th>
                    </tr>
                </thead>
                <tbody>
					{% for entity in unmatched %}
						<tr class="row--align-top">
	                        <td>{{ entity.name }}</td>
                            <td><a href="/{{ state }}/bills/?sponsor_name={{ entity.name }}">{{ entity.sponsorships_count }}</a> Bills Sponsored</td>
                            <td>Match options <button type="button" class="button">Match</button></td>
                            <td><button type="button" class="button">Source Error</button><button type="button" class="button">Ignore</button></td>
	                    </tr>
					{% endfor %}
				</tbody>
			    </table>
            </div>

	</div>

{% endblock %}
