{% extends "public/components/base.html" %}

{% block title %}About Open States{% endblock %}
{% block description %}Open States strives to improve democratic engagement by providing data and tools regarding the legislative process. We are the leading source of data from US state legilsatures.{% endblock %}

{% block content %}
<div class="flatpage">
<h1 class="heading--large">About Open States</h1>

<section>
<p>Open States strives to improve civic engagement by providing data and tools to help you understand
    the legislative process that creates public policy. Open states is the leading source of standardized
    legislative data across state borders in the United States, since the project's founding in 2009.
    We aim to serve members of the public, activist groups, journalists, and researchers with better
    data on policy-making, and to provide tools to reduce barriers to democratic participation.
</p>

<p>
  Open States aggregates legislative information from all 50 states, Washington, D.C., Puerto Rico, and
  US Congress. This information is then standardized, cleaned, and published to the public via
  OpenStates.org, a powerful <a href="https://docs.openstates.org/api-v3/">API</a>, and
  <a href="/data/">bulk downloads</a>.  OpenStates.org enables individuals to
  <a href="/find_your_legislator/">find out who represents them</a>, look up information on an important
  bill that’s been in the news, discover how their representatives are voting, or just stay current with
  what is happening in their state.  Additionally, our API and bulk downloads are used every
  month by advocacy organizations, journalists, researchers, and many others.
</p>

<p>
    Legislative data is collected from official sources, linked at the bottom of relevant pages.  In
    general bill &amp; vote data is collected multiple times a day
    <a href="https://github.com/openstates/openstates-scrapers/">via our scrapers</a> while legislator
    data is <a href="https://github.com/openstates/people/">curated by our team &amp; volunteers like you</a>.
</p>
</section>

<div class="flatpage-twocol">

<div> <!-- group team and notable users -->
<section>
<h2 class="heading--medium">The Team</h2>

<p>
    In 2021 Open States was adopted by <a href="https://www.pluralpolicy.com/">Plural</a>. Plural
    creates cutting-edge software to make it easy for public policy data to be discoverable, interpretable,
    and collaborative. Part of what sets us apart is our commitment to an open data core: the foundational
    layer of data about democracy that should be democratically and transparently available.
</p>
<p>
    When we learned that Open States was being run by just a few people, and was looking for new options
    to keep the lights on, we offered to adopt the project. We are proud to carry on the tradition of the
    project by growing available data and engaging with the community. Please check out
    the <a href="https://blog.openstates.org">Open States Blog</a> for recent updates.
</p>


<p>
    As of 2023, the core team is led by <a href="https://www.pluralpolicy.com/about">Plural staff</a>.
    <a href="https://jamesturk.net">James Turk</a> has been good enough to remain involved as Founder Emeritus.
    But that's by no means everyone that makes the project run. A special thanks to all of our
    <a href="https://github.com/openstates/openstates/graphs/contributors">contributors</a> and the authors
    and maintainers of all the libraries that we depend upon.
</p>
</section>

<section>
    <h2 class="heading--medium">History</h2>
    <p>

        From 2016 - 2021 Open States was an independently-run project. Thank you to the people
        who worked hard to keep Open States available free of charge during that time, including:

    </p>
    <ul>
        <li><a href="https://jamesturk.net">James Turk</a></li>
        <li>Tim Showers</li>
        <li><a href="https://twitter.com/hiteak">Dan Schneiderman</a></li>
        <li><a href="https://twitter.com/heyitsolivia">Olivia Cheng</a></li>
        <li>Miles Watkins</li>
        <li>Rachel Shorey</li>
        <li>Paul Tagliamonte</li>
        <li>Thom Neale</li>
        <li>Michael Stephens</li>
    </ul>

    <p>From 2009-2016, Open States was a project of the <a href="https://sunlightfoundation.com">Sunlight Foundation</a>.  For more details see <a href="https://blog.openstates.org/post/adopting-open-states/">our announcement</a> and <a href="https://sunlightfoundation.com/2016/11/01/sunlight-labs-update-nonprofits-step-up-to-preserve-tools-for-transparency/">Sunlight's announcement</a>.
</section>

<section>
    <h2 class="heading--medium">Notable Users</h2>

    <p>Notable users of Open States data include:</p>
    <ul>
        <li><a href="https://aclu.org">ACLU</a></li>
        <li><a href="https://commoncause.org">Common Cause</a></li>
        <li><a href="https://joincampaignzero.org/">Campaign Zero</a></li>
        <li><a href="https://resist.bot">Resistbot</a></li>
        <li><a href="https://stateimpact.npr.org/teamblog/">NPR's StateImpact</a></li>
        <li><a href="https://newsapps.wordpress.com/2011/12/19/analyzing-illinois-pension-codes-using-the-open-states-project/">Chicago Tribune</a></li>
        <li><a href="https://www.minnpost.com/data/2013/04/minnesota-2013-legislative-bill-tracker/#categorie">MinnPost</a></li>
        <li><a href="https://dssg.uchicago.edu/lid/">UChicago's Data Science for Social Good</a></li>
    </ul>

    <p>
        If you have a use of Open States you'd like us to know about, <a href="mailto:contact@openstates.org">contact us</a>.
    </p>
</section>


</div>

<div>
<section>
    <h2 class="heading--medium">Funding History - prior to 2022</h2>

    <h3 class="heading--small">Partner Organizations</h3>
    <div class="partner-org">
      <a href="https://www.rjionline.org/"><img src="/static/images/logos/rji.png" alt="RJI logo"></a>
      <p><a href="https://www.rjionline.org/">Donald W. Reynolds Journalism Institute</a> generously supported us rebuilding our <a href="https://blog.openstates.org/adding-full-text-search-to-open-states-14b665c1fe30/">full text search</a> and <a href="https://blog.openstates.org/tracking-legislation-on-open-states/">notifications features</a>.</p>
    </div>

    <h3 class="heading--small">Other Funding</h3>
    <p>Prior to November 2016 Open States was a project of the <a href="https://sunlightfoundation.com">Sunlight Foundation</a> from 2009-2016.  Thanks to Sunlight Foundation and all of the <a href="https://sunlightfoundation.com/about/funding/">generous donors</a> that supported Open States.  A special thanks to <a href="http://www.ritaallen.org/">Rita Allen Foundation</a>, <a href="https://mnhs.org">Minnesota Historical Society</a>, <a href="https://www.mccormickfoundation.org/">Robert R. McCormick Foundation</a>, and <a href="https://google.org">Google.org</a> which all supported Open States directly.</p>

    <p>Open States has also previously received corporate contributions from Google (via Google Summer of Code), WeWork, Amazon Web Services, and free plans from <a href="https://newrelic.com/nonprofit">NewRelic</a> and <a href="https://github.com">GitHub</a>.</p>
</section>
<section>
    <a name="contact"></a>
    <h2 class="heading--medium">Contact Us</h2>
    <p>
        If you're looking to discuss Open States, ask general questions, or otherwise get involved, check out our <a href="https://github.com/openstates/issues/discussions">Discussion Forum</a>.
    </p>

    <p>If you notice any data irregularities, issue reports are very useful: <a href="https://github.com/openstates/issues/issues">Report an Issue</a>
    </p>

    <p>If you want to get in contact for another reason, or have a security concern that you don't feel comfortable posting about publicly you can <a href="mailto:contact@openstates.org">email us</a> as well.</p>
</section>
</div>

</div>

</div>
{% endblock %}
