{% extends "public/components/base.html" %}
{% load static %}

{% block title %}Help Support Open States{% endblock %}
{% block og_title %}Help Support Open States{% endblock %}
{% block description %}Donate to Open States, support our work to make state legislative information widely available.{% endblock %}

{% block content %}
<h1 class="heading--large">Support Open States</h1>

<div id="donate-success" style="display: none;">
  Thank you for your contribution!  You should receive an email receipt shortly, if you don't please email <a href="mailto:funding@openstates.org">funding@openstates.org</a>.
</div>
<div id="donate-failure" style="display: none;">
  Something went wrong!  This has been logged, If you don't please email <a href="mailto:funding@openstates.org">funding@openstates.org</a>.
</div>

<section class="mt1">
    <p>
        Open States serves millions of API calls and sees thousands of visitors daily without charging a dollar, we depend upon the generosity of donors to fund our work and expenses. 
        Donations to Open States will help us pay our server costs and allow the all-volunteer core team to continue to dedicate their time to maintaining and improving the project.
    </p>
    <p>For additional ways to help see <a href="/helping/">How to Help Open States</a>.</p>

    <p><strong>If you find Open States a valuable resource please consider donating today.</strong></p>
</section>

<div class="flatpage-twocol">
<div>
    <p>By donating via GitHub sponsors, 100% of your donation goes to us &mdash; no fees!</p>
    <iframe src="https://github.com/sponsors/openstates/card" title="Sponsor openstates" height="225" width="100%" style="border: 0;"></iframe>
</div>
<div>
    <p>You can also support Open States via Patreon: </p>
    <p>
      <!--
  <a href="https://www.patreon.com/bePatron?u=4813054" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
      -->
    </p>
</div>
</div>

<section>
    <h4>Or you can make a one-time or recurring donation directly:</h4>

    <div class="donor-form">

    <p>
        <br>
        <strong>Give a one time donation to support our work:</strong>
    </p>

    <input type="radio" id="reg-10" value="10" name="donation">
    <label for="reg-10">$10</label>
    <input type="radio" id="reg-25" value="25" name="donation">
    <label for="reg-25">$25</label>
    <input type="radio" id="reg-50" value="50" name="donation">
    <label for="reg-50">$50</label>
    <input type="radio" id="reg-100" value="100" name="donation">
    <label for="reg-100">$100</label>
    <input type="radio" id="reg-other" value="other" name="donation">
    <label for="reg-other">
        <input id="other-amount" type="text" placeholder="custom">
    </label>
    <button data-amount="custom" class="btn-stripe button button--primary" id="donation-button">Give Now!</button>

    <p>
        <br>
        <strong>You can also sign up to give a recurring contribution, allowing us to plan bigger &amp; better things:</strong>
    </p>

    <input type="radio" id="monthly5" value="monthly5" name="subscription">
    <label for="monthly5">$5/mo.</label>
    <input type="radio" id="monthly10" value="monthly10" name="subscription">
    <label for="monthly10">$10/mo.</label>
    <input type="radio" id="monthly20" value="monthly20" name="subscription">
    <label for="monthly20">$20/mo.</label>
    <input type="radio" id="monthly50" value="monthly50" name="subscription">
    <label for="monthly50">$50/mo.</label>
    <input type="radio" id="monthly100" value="monthly100" name="subscription">
    <label for="monthly100">$100/mo.</label>
    <br>
    <br>
    <input type="radio" id="yearly50" value="yearly50" name="subscription">
    <label for="yearly50">$50/yr.</label>
    <input type="radio" id="yearly100" value="yearly100" name="subscription">
    <label for="yearly100">$100/yr.</label>
    <input type="radio" id="yearly200" value="yearly200" name="subscription">
    <label for="yearly200">$200/yr.</label>
    <input type="radio" id="yearly500" value="yearly500" name="subscription">
    <label for="yearly500">$500/yr.</label>
    <br>
    <br>

    <button class="btn-stripe button button--primary" id="subscription-button">Create Recurring Contribution</button>

    {% csrf_token %}
</div>
</section>

<section>
    <p>Open States is under the <a href="http://openmediafoundation.org/open-states">Open Media Foundation</a> umbrella via their <a href="https://en.wikipedia.org/wiki/Fiscal_sponsorship">fiscal sponsorship</a> program.  As such, contributions made via this site are tax-deductible.</p>


    <p>If you'd like to discuss funding specific work or make a larger donation please get in touch at <a href="mailto:funding@openstates.org">funding@openstates.org</a>.</p>

    <p>
      <a href="https://stripe.com"><img class="stripe-logo" src="{% static "images/powered_by_stripe.svg" %}" alt="powered by Stripe" /></a>
    </p>
    <p>
        Donation processing is powered by Stripe,
        none of your credit card information touches our servers.
    </p>
</section>
<script src="https://js.stripe.com/v3"></script>

<script>
  var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');

  const subscriptionButton = document.querySelector('#subscription-button');
  subscriptionButton.addEventListener('click', function () {
    const subscription = document.querySelector('input[name=subscription]:checked').value;
    stripe.redirectToCheckout({
      lineItems: [{
        price: subscription,
        quantity: 1
      }],
      mode: 'subscription',
      successUrl: 'https://openstates.org/donate/?success',
      cancelUrl: 'https://openstates.org/donate/'
    });
  });

  const donationButton = document.querySelector('#donation-button');
  donationButton.addEventListener('click', function () {
    let donation = document.querySelector('input[name=donation]:checked').value;
    if (donation === "other") {
      donation = document.querySelector("#other-amount").value;
    }
    var data = new URLSearchParams();
    data.append("dollars", donation);
    data.append("csrfmiddlewaretoken", document.querySelector('[name="csrfmiddlewaretoken"]').value);
    fetch('/custom_donation/', {'method': 'POST', 'body': data})
      .then(function(response) { return response.json(); })
      .then(function(responseJson) {
        const sessionId = responseJson.session_id;
          stripe.redirectToCheckout({sessionId: sessionId})
      });
  });
</script>
{% endblock %}
