{% extends "public/components/base.html" %}

{% block title %}Open States API Registration{% endblock %}
{% block description %}Open States strives to improve civic engagement at the state level by providing data and tools regarding state legislatures.{% endblock %}

{% block content %}
<h1 class="heading--large">Thanks for Registering for an API Key! </h1>

<section>
    <p>Thanks for registering for an API Key.  You should get an email within the next few minutes, if you don't see it be sure to check your bulk mail folder just in case it wound up there.
    </p>

    <p>
        Go ahead and check out the <a href="https://docs.openstates.org/en/latest/api/v2/index.html">v2 </a> or <a href="https://docs.openstates.org/en/latest/api/v3/index.html">v3</a> documentation or join our <a href="https://github.com/openstates/issues/discussions">discussion forum</a>.
    </p>

    <p>If you do not receive a key, <a href="mailto:contact@openstates.org">get in touch</a> with us from the email you registered from.</p>
</section>
{% endblock %}
