{% extends "public/components/base.html" %}

{% block title %}Open States: Terms of Service &amp; Privacy Policy{% endblock %}
{% block description %}Open States Terms of Service &amp; Privacy Policy{% endblock %}
{% block content %}
<h1>Terms of Use &amp; Privacy Policy</h1>

<section>
<h2>Summary</h2>
<p>
    We strive to make Open States available to everyone and ensure that it
    is as accurate and reliable as possible.  That said, we can't provide any
    guarantees and use of Open States' tools is contingent upon your acceptance
    of that fact.
</p>
<p>
    Additionally, regarding privacy- we take your privacy seriously and aim
    to do right by you.  Most importantly we will never sell, rent, share, or
    distribute your personal information without your consent.  We also will
    not publish identifiable information about anyone's usage of our services
    without express permission.
</p>

<p>Our more comprehensive <a href="#tos">Terms of Service</a> &amp; <a href="#privacy">Privacy Policy</a> follow.</p>

<p>If you have any questions please <a href="mailto:contact@openstates.org">contact us</a>.</p>

<p>These terms effective April 21, 2017.</p>
</section>

<section>
<a name="tos"></a>
<h1>Terms of Service</h1>

Open States offers data via an API, bulk downloads, and the website OpenStates.org (collectively, the “Services”).  These services are offered subject to your acceptance of the terms and conditions contained herein as well as our Privacy Policy (collectively, the “Agreement”).

<h3>Scope</h3>

All of the content, documentation, and related materials made available to you by Open States is subject to these terms unless otherwise noted.  Access to or use of the Services constitutes acceptance to this Agreement.

<h3>Attribution</h3>

No attribution is required for using data obtained via Open States.  We make no copyright claim over any of the data we collect &amp; publish.  Of course, attribution is always appreciated but no affiliation or endorsement may be implied on your derivative product.

<h3>Right to Limit</h3>

Use of the Services may be subject to certain limitations on access as set forth within this Agreement or otherwise noted.  If we reasonably believe you have attempted to exceed or circumvent these limits, your ability to use the service may be permanently or temporarily blocked.  Open States may monitor usage of the service to improve the service or to ensure compliance with this Agreement.

<h3>Service Termination</h3>

If you wish to terminate this Agreement, you may do so by refraining from further use of our tools and data.  Open States reserves the right to (1) refuse to provide the API to you if it is our opinion that use violates any part of this Agreement, or (2) terminate or deny you access to use all or part of the Services at any time for any other reason in our sole discretion. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, warranty disclaimers, indemnity, and limitations of liability.

<h3>Changes</h3>

Open States reserves the right, at our sole discretion, to modify or replace this Agreement, in whole or in part. Your continued use of the Services following posting of any changes to this Agreement constitutes acceptance of those modified terms. Additionally, any new Services offered by Open States shall be subject to the terms and conditions of this Agreement.

<h3>Disclaimer of Warranties</h3>
Open States provides the Services “as-is” and on an “as-available” basis.  Open States hereby disclaim all warranties of any kind, express or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, and non-infringement.  Open States makes no warranty that the Services will be error free or that access thereto will be continuous or uninterrupted.

<h3>Limitations on Liability</h3>

In no event will Open States or any of its representatives be liable with to respect to any subject matter of this Agreement under any contract, negligence, strict liability, or other legal or equitable theory for: (1) any special, incidental, or consequential damages; (2) the cost of procurement of substitute products or services; or (3) the interruption of use or loss or corruption of data.

<h3>General Representations</h3>

You hereby warrant that (1) your use of the Services will be in strict accordance with this Agreement and all applicable laws and regulations, and (2) your use of the Services will not infringe or misappropriate the intellectual property rights of any third party.

<h3>Indemnification</h3>

You agree to indemnify and hold harmless Open States, its contractors, employees, agents, and the like from and against any all claims and expenses including attorney’s fees, arising out of your use of the Services, including but not limited to violation of this Agreement.

<h3>Miscellaneous</h3>

This Agreement constitutes the entire Agreement between Open States and you concerning the subject matter hereof, and may only be modified by the posting of a revised version on this page by Open States.

<h3>Disputes</h3>

Any disputes arising out of this Agreement and access to or use of the Services shall be governed by the laws of the District of Columbia.

<h3>No Waiver of Rights</h3>

Open States’ failure to exercise or enforce any right or provision of this Agreement shall not constitute waiver of such right or provision.
</section>

<section>
<a name="privacy"></a>
<h1>Privacy Policy</h1>

This page informs you of our policies regarding the collection, use and disclosure of
Personal Information we receive from users of the Services.

We use your Personal Information only for providing and improving the Services. By using the Services, you agree to the collection and use of information in accordance with this policy.

<h3>Information Collection And Use</h3>
While using our Services, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name, email address, or other contact information ("Personal Information").  Information on who uses our Services and aggregate statistics on usage may be shared with third parties for the purpose of securing funding or otherwise demonstrating the value we provide.  Contact information will not be shared with third parties for any reason without your consent.

<h3>Log Data</h3>
Like many site operators, we collect information that your computer sends whenever you visit our Services ("Log Data").  This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Services that you visit, the time and date of your visit, the time spent on those pages and other statistics.  In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this data.

<h3>Communications</h3>
We may use your Personal Information to contact you with newsletters or other information relevant to the services.  You may opt out of these communications at any time, but doing so may limit your ability to use certain features.

<h3>Cookies</h3>
Cookies are files with small amount of data, which may include an anonymous unique identifier.  Cookies are sent to your browser from a web site and stored on your computer's hard drive.  Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Services.

<h3>Security</h3>
The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.

<h3>Changes</h3>
<p>This Privacy Policy is effective as of the date posted at the top of this page and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>

<p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
</section>

{% endblock %}
