// Header and Navigation

.header {}

#header__top {
  display: grid;
  grid-template-columns: auto;

  @include breakpoint(medium) {
    grid-template-columns: auto 200px;
  }
}

#header__login {
  align-self: center;

  font-size: 120%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  @include breakpoint(medium) {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
}

#header__search {
  align-self: center;
}

#header__search .input-group {
  margin-bottom: 0;
  width: 100%;
  @include breakpoint(medium) {
    width: 320px;
  }
}

.header__logo {
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    @include breakpoint(medium) {
        width: 300px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navigation {
    @include breakpoint(medium) {
        background: linear-gradient(90deg, $color-secondary 50%, $color-gray 50%); 
    }
}

.navigation__container {
    display: flex;
    flex-direction: column;
    
    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.navigation__section {
    height: 50px;
}

.navigation__menu {
    list-style-type: none;
    background-color: $color-gray;
    display: flex;
    margin: 0;

    @include breakpoint(medium) {
        width: 100%;
        padding-left: 1.5rem;
    }

    li {
        display: block;
    }

    a {
        position: relative;
        display: block;
        height: 50px;
        padding: 1rem;
        color: $color-secondary;

        @include breakpoint(medium) {
            border-bottom: 0px solid darken($color-gray, 10%);
            transition: border-bottom 200ms;
        }

        &:hover {
            @include breakpoint(medium) {
                border-bottom: 4px solid darken($color-gray, 10%);
            }
        }

        &.is-active {
            font-weight: bold;
            
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: calc(50% - 10px);
                border-top: 10px solid $color-secondary;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;

                @include breakpoint(medium) {
                    content: none;
                }
            }

            @include breakpoint(medium) {
                border-bottom: 4px solid $color-primary;
                color: $color-primary;
            }
        }
    }
}

.navigation__select-wrapper {
    position: relative;
    width: 100%;
    height: 65px;
    background-color: $color-secondary;

    @include breakpoint(medium) {
        height: 50px;
        max-width: 300px;
    }

    &:after {
        @include breakpoint(medium) {
            content: '';
            position: absolute;
            top: 0;
            right: -25px;
            width: 0;
            height: 0;
            border-top: 0px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 25px solid $color-secondary;
        }
    }
}


select.navigation__select {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: $color-secondary;
    color: $color-white;
    font-weight: bold;

    &:active,
    &:focus {
        border: 0;
        outline: 1px dashed $color-gray;
        border-radius: 0;
        box-shadow: none;
        background-color: $color-secondary;
    }
}
