// Tables


thead {
    @extend .heading--xsmall;
    border-bottom: 2px solid $color-secondary;

}

tbody {
    background-color: transparent;
}

tbody tr {
    border-bottom: 1px solid $color-gray;
    background-color: transparent;
}

tbody th {
    text-align: left;
}

table {
    .label {
        margin-bottom: 0;
    }
}

tr.row--align-top {
    vertical-align: top;
}

.td-link, .td-link:hover, .td-link:visited {
  color: inherit;
}
