{% load custom_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84709685-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-84709685-1');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Open States{% endblock %}</title>
        <meta name="description" property="og:description" content="{% block description %}{% endblock %}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@openstates">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:title" content="{% block og_title %}Open States{% endblock %}">
        <meta property="og:image" content="{% block og_image %}https://{{ request.get_host }}{% static "public/images/openstates_icon_transparent.png" %}{% endblock %}">
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'public/images/favicon/apple-touch-icon.png?v=20190106' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'public/images/favicon/favicon-32x32.png?v=20190106' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public/images/favicon/favicon-16x16.png?v=20190106' %}">
        <link rel="manifest" href="{% static 'public/images/favicon/site.webmanifest?v=20190106' %}">
        <link rel="mask-icon" href="{% static 'public/images/favicon/safari-pinned-tab.svg?v=20190106' %}" color="#233240">
        <link rel="shortcut icon" href="{% static 'public/images/favicon/favicon.ico?v=20190106' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="{% static 'public/images/favicon/browserconfig.xml?v=20190106' %}">
        <meta name="theme-color" content="#ffffff">

        {% render_bundle 'main' 'css' %}

    </head>

    <body>
        {% header %}

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12 mt1">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% include "./footer.html" %}
        {% render_bundle 'main' 'js' %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
