{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>
        {% render_bundle 'main' 'css' %}

        <!-- CSS required by MapBox GL JS; could alternatively be copied and saved to the local styles directory -->
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    </head>

    <body>
        <div data-hook="react-mount"></div>
        {% include "./header.html" %}

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

		{% include "./footer.html" %}
		{% render_bundle 'main' 'js' %}
	</body>
</html>
