{% load custom_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Open States{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@openstates">
        {# TODO og:image, og:title, og:description, og:type, og:site_name #}

        {% render_bundle 'main' 'css' %}
    </head>

    <body>
        {% header %}

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12 mt1">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% include "./footer.html" %}
        {% render_bundle 'main' 'js' %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
