<div>
	<span>{{ bill.identifier }}</span>
	<span>{{ bill.title }}</span>

	{% if bill.introduced_date %}
		<span>Introduced {{ bill.introduced_date }}</span>
	{% elif bill.passed_date %}
		<span>Passed {{ bill.passed_date }}</span>
	{% endif %}

	<span>
		Sponsored by 
		{% for sponsorship in bill.sponsorships.all %}
			{% if sponsorship.primary %}
				{% if sponsorship.person %}
					<a href="{% url 'legislator' state sponsorship.person_id %}">{{ sponsorship.person }}</a>
				{% elif sponsorship.organization %}
					<a href="{% url 'committee' state sponsorship.organization_id %}">{{ sponsorship.organization }}</a>
				{% else %}
					{{ sponsorship.name }}
				{% endif %}
			{% endif %}
		{% endfor %}
	</span>
</div>
