<header>
	<a href="{% url 'home' %}"><img alt="Open States logo" /></a>
	<nav>
		<select onchange="window.location.href = {% url 'home' %} + this.value">
			{% if not state %}
				<option value="">Select a state</option>
			{% endif %}
			{% for st in states %}
				<option value="{{ st.abbr|lower }}" {% if st.abbr|lower == state %}selected{% endif %}>{{ st.name }}</option>
			{% endfor %}
		</select>

		{% if state %}
			<ul>
				<li><a href="{% url 'state' state %}">Overview</a></li>
				<li><a href="{% url 'legislators' state %}">Legislators</a></li>
				<li><a href="{% url 'bills' state %}">Bills</a></li>
				<li><a href="{% url 'committees' state %}">Committees</a></li>
			</ul>
		{% endif %}
	</nav>
</header>
