{% load custom_tags %}

<!-- If used on in a legislator view -->
{% if vote.legislator_vote %}
<p>{{ vote.legislator_vote.voter_name }}
    <strong class="u-color--green">voted {{ vote.legislator_vote.option|title }}</strong>
    on {{ vote.motion_text}}.
</p>
{% endif %}
<div class="card">
    <div>
        <h3 class="heading--small"><a href="{% canonical_url vote %}">{{ vote.bill.identifier }}</a></h3>
        <p>
            {{ vote.motion_text }}
            <span class="label label--static">
                {{ vote.result|title }}
            </span>
        </p>
        <!-- TODO: Add more bill info -->
    </div>
</div>
