/* Open States lite styling */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  line-height: 1.5;
  color: #222;
  font-weight: normal;
  margin: 0;
}
.grid-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.header__top {
  display: grid;
  grid-template-columns: auto 200px;
}
.header__logo {
  width: 250px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#header__login {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.bluebar {
  background-color: #002f5a;
  height: 50px;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
thead {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 2px solid black;
}
tr {
  border-bottom: 1px solid #dbe6f1;
}
.button {
  font-size: 120%;
  width: 100%;
  background-color: #002f5a;
  color: #ffffff;
}

/* index only */
.widget-preview {
  display: grid;
  grid-template-columns: auto auto;
}
.widget-preview img {
  width: 300px;
  border: dashed 2px #222;
}
.footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px swolid #dbe6f1;
  background-color: #edf3f8;
  font-size: 0.875rem;
}
.footer h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  padding-left: 20rem;
}
.footer ul {
  list-style: none;
  text-indent: 0;
  padding-left: 20rem;
}

.create-new {
  background-color: #2cceb0;
  color: white;
  font-size: 120%;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
}
.contact-us {
  background-color: #0039c1;
  color: white;
  font-size: 120%;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
}

/* configurator */
.config-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 2rem;
}
.option-input {
  display: grid;
  grid-template-columns: 15rem auto;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
}
.option-input label {
  font-weight: 700;
}

/* legislator lookup */
.osw-legislator-lookup {
  width: 400px;
}
#osw-address {
  font-size: 120%;
  width: 100%;
}
.osw-table td {
  text-align: center;
}
.osw-table td:first-child {
  text-align: left;
}
