[uwsgi]
virtualenv = /home/openstates/virt/
vacuum = true
processes = 4
buffer-size = 8096
harakiri = 30
enable-threads = true
single-interpreter = true
module = openstates.wsgi:application
{% for key, val in django_environment.items() %}
env = {{key}}={{val}}
{% endfor %}
