// General Colors

.u-fill--primary { background-color: $primary-color; }
.u-fill--secondary { background-color: $secondary-color; }
.u-fill--gray-light { background-color: $gray-light; }
.u-fill--mint-light { background-color: $mint-light; }


// Dataviz Colors
.u-fill--blue { background-color: $blue; }
.u-fill--red { background-color: $red; }
.u-fill--yellow { background-color: $yellow; }
.u-fill--green { background-color: $green; }
