// Background Colors

// General colors
.u-fill--primary { background-color: $color-primary; }
.u-fill--secondary { background-color: $color-secondary; }
.u-fill--accent { background-color: $color-accent; }

// Text and background colors
.u-fill--black { background-color: $color-black; }
.u-fill--gray { background-color: $color-gray; }
.u-fill--gray-light { background-color: $color-gray-light; }
.u-fill--gray-lighter { background-color: $color-gray-lighter; }
.u-fill--white { background-color: $color-white; }


// Data Vizualization Colors
.u-fill--blue { background-color: $color-blue; }
.u-fill--red { background-color: $color-red; }
.u-fill--yellow { background-color: $color-yellow; }
.u-fill--green { background-color: $color-green; }


// Text Colors
.u-color-primary { color: $color-primary; }
.u-color--red { color: $color-red; }
.u-color--yellow { color: $color-yellow; }
.u-color--green { color: $color-green; }