// Spacing

.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }

.mt1 { margin-top: 1rem; }

.mr0 { margin-right: 0; }
.mr1 { margin-right: 1rem; }
.mr2 { margin-right: 2rem; }
