{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}{{ bill.identifier }} - {{ state|state_name }} {{ bill.from_organization.name }} ({{bill.legislative_session.identifier }}) - Open States{% endblock %}
{% block og_title %}{{ bill.identifier }} - {{ state|state_name }} {{ bill.from_organization.name }} ({{bill.legislative_session.identifier }}) - Open States{% endblock %}
{% block description %}Details on {{ state|state_name }} {{ bill.identifier}} ({{ bill.legislative_session }}) - {{ bill.title|titlecase_caps }}{% endblock %}
{% block link %}
    <link rel="canonical" href="https://pluralpolicy.com/app/legislative-tracking/bill/details/state-{{ state }}-{{bill.legislative_session.identifier }}-{{ bill.identifier }}" />
{% endblock %}

{% block scripts %}
  <script src="{% static "bundles/common_components.js" %}"></script>
{% endblock %}

{% block content %}
<section class="section">
    <div class="overview">

        <div class="overview__header">
            <div style="width: 100%;">
                <div class="align-justify meter-container">
                    <div>
                        <h1 class="overview__heading">{{ bill.identifier }}</h1>
                        <ul class="card__detail-group">
                            <li class="card__detail type--xsmall">{% if not unicameral %}{{state|state_name}}{% endif %} {{ bill.from_organization.name }} {{ bill.classification.0|title }}</li>
                            <li class="card__detail type--xsmall">{{ bill.legislative_session.name }}</li>
                        </ul>
                    </div>
                    <!-- TODO: Make meter responsive -->
                    <ul class="meter align-self-middle">
                    {% for stage in stages %}
                        {% if not stage.date and not stage.stage == 'Introduced' %}
                            <li class="meter-bar meter-bar--inactive">
                                <span class="meter-bar__title">{{ stage.stage }}</span>
                            </li>
                        {% else %}
                            <li class="meter-bar meter-bar--green">
                                <span class="meter-bar__title">
                                    {% if stage.stage == 'Introduced' %}
                                        Introduced {% if not unicameral %}in {{ bill.from_organization.name }}{% endif %}
                                    {% else %}
                                        {{ stage.text }}
                                    {% endif %}
                                </span>
                                {% if stage.date %}
                                    <span class="meter-bar__detail">{{ stage.date|fdate:"%b %d, %Y" }}</span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="grid-x grid-margin-x align-justify">
                    <div class="cell small-12 medium-9">
                        <h3 class="heading--medium">{{ bill.title|titlecase_caps }}</h3>
                    </div>
                    <div class="cell shrink">
                        <!-- TODO: Add icon indicating external link -->
                        <a class="button" href="{{ read_link }}">View Latest Bill Text</a>
                    </div>
                </div>
                <div class="grid-x grid-margin-x align-justify">
                  <div class="cell small-12 medium-9">
                      {% if request.user.profile.feature_subscriptions %}
                      <div data-hook="follow-button" data-bill-id="{{ bill.id }}"></div>
                      {% else %}
                      <a class="button" id="followButton" href="/accounts/signup/?next={% canonical_url bill %}">
                          Sign In to Follow
                      </a>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>

        <div class="overview__section">
            {% if bill.subject %}
            <div class="mb2">
                <h3 class="heading--xsmall">Bill Subjects</h3>
                {% for subject in bill.subject %}
                    <!-- TODO: Link to bill subjects -->
                    <a class="label" link="#">{{ subject|title }}</a>
                {% endfor %}
            </div>
            {% endif %}


            {% if bill.abstracts %}
            <div class="mb2">
                <h3 class="heading--xsmall">Abstract</h3>
                {% for abstract in bill.abstracts.all %}
                    <p style="white-space: pre-line">{{ abstract.abstract | safe }}</p>
                {% endfor %}
            </div>
            {% endif %}


            <h3 class="heading--xsmall">Bill Sponsors ({{ sponsorships|length }})</h3>

            <div class="grid-container full">
                <div class="grid-x grid-margin-x medium-up-2 large-up-3">
                    {% for sponsor in sponsorships|dictsortreversed:"primary" %}
                    <div class="cell">


                        {% if sponsor.person %}
                          <a href="{% canonical_url sponsor.person %}">
                              <div class="card card--profile">

                                <div class="mr1" data-hook="legislator-image" data-image="{{ sponsor.person.image }}" data-person-id="{{ sponsor.person.id }}" data-party="{{sponsor.person.primary_party }}"> </div>
                                    <div>
                                        <h3 class="card__heading heading--small">{{ sponsor.person.name }}</h3>
                                        <ul class="card__detail-group">
                                            <li class="card__detail type--xsmall">{{ sponsor.person.primary_party }}</li>
                                            {% if not unicameral %}
                                            <li class="card__detail type--xsmall">{{ sponsor.person.current_role.title }}</li>
                                            {% endif %}
                                            <li class="card__detail type--xsmall">
                                              {{ sponsor.person.current_role.district|district_maybe }}
                                              {{ sponsor.person.current_role.district }}
                                            </li>
                                        </ul>
                                        <div class="heading--xsmall">{{ sponsor.classification|title }}</div>
                                    </div>
                              </div>
                              </a>
                            {% else %}
                              <div class="card card--profile">
                                <div class="thumbnail thumbnail--placeholder thumbnail--small mr1"></div>
                                <div>
                                    <h3 class="card__heading heading--small">{{ sponsor.name }}</h3>
                                    <ul class="card__detail-group">
                                      &nbsp;
                                    </ul>
                                    <div class="heading--xsmall">{{ sponsor.classification|title }}</div>
                                </div>
                              </div>
                            {% endif %}
                    </div>
                    {% endfor %}
                    <!-- TODO: Paginate/hide lengthier lists of sponsors -->
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <h2 class="heading--medium">Votes</h2>
    <hr>
    <div class="timeline">
    {% regroup votes by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        <div class="timeline-item">
            <div class="timeline-date">
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
            </div>
            <div class="timeline-activity__group">
                {% for vote_event in start_date.list %}
                <div class="timeline-activity">
                    {% vote_card vote_event %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% empty %}
            <p>No votes to display</p>
    {% endfor %}
    </div>
</section>

<section>
    <h2 class="heading--medium">Actions</h2>
    <hr>
    <div class="timeline">
        {% regroup actions by date as actions_by_date %}
        {% for date in actions_by_date %}
            <div class="timeline-item">
                <div class="timeline-date">
                    <h3 class="heading--xsmall">{{ date.grouper|fdate:"%b %d, %Y" }}</h3>
                </div>
                <div class="timeline-activity__group">
                    {% for action in date.list %}
                    <div class="timeline-activity">
                        {% action_card action %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>No actions to display</p>
        {% endfor %}
    </div>
</section>

<section>
    <h2 class="heading--medium">Bill Text</h2>
     <table class="hover">
        <thead>
            <tr>
                <th>Bill Text Versions</th>
                <th>Format</th>
            </tr>
        </thead>
        <tbody>
            {% for version in versions reversed %}
                {% document_card version %}
            {% empty %}
                <tr>
                    <td colspan="100%">No related documents.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section>
    <h2 class="heading--medium">Related Documents</h2>
    <table class="hover">
        <thead>
            <tr>
                <th>Document</th>
                <th>Format</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents reversed %}
                {% document_card document %}
            {% empty %}
                <tr>
                    <td colspan="100%">No related documents.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% sources state bill.sources.all %}
{% endblock %}
