{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Find Your State Legislators - Open States{% endblock %}
{% block og_title %}Find Your State Legislators - Open States{% endblock %}
{% block description %}Find out who represents you in your state legislature with Open States.{% endblock %}
{% block scripts %}
    <script src="{% static "bundles/fyl.js" %}"></script>
{% endblock %}

{% block content %}
    <h1 class="heading--large">Find Your Legislators</h1>
    <h2 class="mb2 heading--medium">Look your legislators up by address or use your current location.</h2>
    <hr>
    <div style="padding: .75rem 1.25rem; border: 1px solid #ffeeba; background-color: #fff3cd; margin-bottom: 1rem;">
        On June 30, we’re launching a new, free bill research and tracking application!
        Heads-up, that will mean about an hour of downtime at approximately 9 AM CDT, during which openstates.org may be
        unavailable.<br>
        Once launched, this page will redirect to that new application at
        <a href="https://pluralpolicy.com">pluralpolicy.com</a>.
        You are invited to try out our new tools, and also you will still be able to access
        your existing OpenStates.org account.
        <a href="https://blog.openstates.org/2023-june-changes/">
            Please read more about these upcoming changes here
        </a>.
    </div>
    <p>
      Data here now has been updated to reflect the 2020-2022 redistricting process. Results here now
      show who currently represents you, under the new maps.
    </p>
    <p>
      <strong>Known exceptions</strong>: Montana has not finalized redistricting, so results in Montana
      will reflect the pre-redistricting (2022) districts.
    </p>
    <hr>

    <div data-hook="find-your-legislator"></div>
    <noscript>This page requires JavaScript enabled.</noscript>

    <div class="mapbox-credit">
        Post-redistricting geographic data graciously provided by
        <a href="https://redistrictingdatahub.org/">Redistricting Data Hub</a>
    </div>
    <div class="mapbox-credit">Geolocation and map view powered by <img
        src="{% static "images/logos/mapbox-logo-black.png" %}" alt="Mapbox" />.
    </div>

{% endblock %}
