{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Find Your State Legislators - Open States{% endblock %}
{% block og_title %}Find Your State Legislators - Open States{% endblock %}
{% block description %}Find out who represents you in your state legislature with Open States.{% endblock %}
{% block scripts %}
  <script src="{% static "bundles/fyl.js" %}"></script>
{% endblock %}

{% block content %}
<h1 class="heading--large">Find Your Legislators</h1>
<h2 class="mb2 heading--medium">Look your state legislators up by address or use your current location.</h2>

<div data-hook="find-your-legislator"></div>
<noscript>This page requires JavaScript enabled.</noscript>

<div class="mapbox-credit">Geolocation and map view powered by <img src="{% static "images/logos/mapbox-logo-black.png" %}" alt="Mapbox" />.</div>

{% endblock %}
