{% extends "../components/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Open States: discover politics in your state{% endblock %}
{% block og_title %}Open States: discover politics in your state{% endblock %}
{% block description %}Follow politics in your state legislature. Find your legislators, see how they vote and browse bills and committees.{% endblock %}

{% block content %}

<section class="section">

    <div class="grid-x grid-margin-x">
        <div class="cell medium-8">
            <div class="u-measure--wide text-center">
                <h1 class="heading--large">Discover Politics In Your State</h1>
                <img width="150" src="{% static "public/images/nounproject/national_assembly.svg" %}">
                <p class="heading--small">Track bills, review upcoming legislation, and see how your local representatives are voting in your state.</p>
                {% for st in states %}
                    <a class="label" href="/{{ st.abbr|lower }}">{{ st.name }}</a>
                {% endfor %}
            </div>

            <div class="mt3">
                <hr>
                <h2 class="heading--medium">Latest Activity</h2>
                {% for bill in recent_bills %}
                    {% bill_card state bill %}
                {% endfor %}
            </div>
        </div>

        <div class="cell medium-4 text-center">
            <div class="sidebar">
                <div class="text-center">
                    <h2 class="heading--medium">Find Your Legislators</h2>
                    <div class="thumbnail thumbnail--placeholder mt1 mb1" style="display: inline-block;"></div>
                    <form action="/find_your_legislator/">
                        <div class="input-group">
                            <input class="input-group-field" type="search" placeholder="Enter Address" name="address">
                            <div class="input-group-button">
                                <input type="submit" class="button button--primary" value="Search">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="mt3">
                    <hr>
                    <h2 class="heading--medium">Dig In To Our Data &amp; APIs</h2>
                    <p>
                        We make all of our data available for <a href="/data/">bulk download</a>
                        and via our powerful <a href="https://docs.openstates.org/en/latest/api/v2/">API</a>.
                        <br>
                        <br>
                        <a href="/accounts/profile/#apikey">Get an API key</a> to get started.
                    </p>
                </div>

                <div class="mt3 text-center">
                    <hr>
                    <h2 class="heading--medium">Donate to Open States</h2>
                    <p>
                        Open States is a volunteer-driven project. Your donations help us keep the data fresh and this website free for everyone to use.
                    </p>
                    <a class="button button--primary" href="/donate/">Donate $25 Today</a>
                </div>

                <div class="mt3">
                    <hr>
                    <h2 class="heading--medium">Project Updates</h2>
                    {% for update in blog_updates %}
                    <div class="blog-update">
                        <div class="blog-date">{{ update.date|fdate:"%B %-d, %Y" }}</div>
                        <a href="{{ update.link }}">{{ update.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
