{% extends "../components/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Open States: discover politics in your state and Congress{% endblock %}
{% block og_title %}Open States: discover politics in your state and Congress{% endblock %}
{% block description %}Follow politics in your state legislature, Congress and more. Find your legislators, browse bills and track how legislators have voted.{% endblock %}

{% block content %}

<section class="section" id="homepage-section">
    <div class="homepage-hero">
        <div style="padding: .75rem 1.25rem; border: 1px solid #ffeeba; background-color: #fff3cd; margin-bottom: 1rem;">
            On June 30, we’re launching a new, free bill research and tracking application!
            Heads-up, that will mean about an hour of downtime at approximately 9 AM CDT, during which openstates.org may be
            unavailable.<br>
            Once launched, this page will redirect to that new application at
            <a href="https://pluralpolicy.com">pluralpolicy.com</a>.
            You are invited to try out our new tools, and also you will still be able to access
            your existing OpenStates.org account.
            <a href="https://blog.openstates.org/2023-june-changes/">
                Please read more about these upcoming changes here
            </a>.
        </div>
        <h1 class="heading--large">Discover Politics In Your State and Congress</h1>
        <p class="heading--small">Track bills, review upcoming legislation, and see how your local and federal representatives are voting.</p>
        <p class="heading--small">Open States is the leading source for truly open data on policy-making process and legislation.</p>

        <!-- <div class="site-alert"> </div> -->

    </div>

    <div class="homepage-grid">
        <div class="text-center">
          <h2 class="heading--medium">Search &amp; Track Legislation</h2>
          <img src="{% static "images/nounproject/political_2003975.svg" %}">
          <form action="/search/">
              <div class="input-group">
                  <input class="input-group-field" type="search" placeholder="Coronavirus, Transportation, etc." name="query">
                  <div class="input-group-button">
                      <input type="submit" class="button button--primary" value="Search">
                  </div>
              </div>
          </form>
        </div>

        <div class="text-center">
            <h2 class="heading--medium">Find Your Legislators</h2>
            <img src="{% static "images/nounproject/people_2911761.svg" %}">
            <form action="/find_your_legislator/">
              <div class="fyl-row">
                <div class="input-group">
                    <input class="input-group-field" type="search" placeholder="Enter Address" name="address">
                    <div class="input-group-button">
                        <input type="submit" class="button button--primary" value="Search">
                    </div>
                </div>

                <div class="fyl-locate">
                  <input type="submit" id="locate" class="button button--primary" name="geolocate" value="Use Current Location">
                </div>
              </div>
            </form>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Dig In To Our Data &amp; APIs</h2>
            <img height="150" src="{% static "images/nounproject/data_2921737.svg" %}">
            <p style="margin-top: 1rem">
                We make all of our data available for <a href="/data/">bulk download</a>
                and via our powerful <a href="https://docs.openstates.org/api-v3/">APIs</a>.
                <br>
                <br>
                <a href="/accounts/profile/#apikey">Get an API key</a> to get started.
            </p>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Project Updates</h2>
            <img height="150" src="{% static "images/nounproject/news_750649.svg" %}">
            {% for update in blog_updates %}
            <div class="blog-update">
                <div class="blog-date">{{ update.date|fdate:"%B %-d, %Y" }}</div>
                <a href="{{ update.link }}">{{ update.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}
