{% extends "../components/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Open States: discover politics in your state{% endblock %}
{% block og_title %}Open States: discover politics in your state{% endblock %}
{% block description %}Follow politics in your state legislature. Find your legislators, see how they vote and browse bills and committees.{% endblock %}

{% block content %}

<section class="section" id="homepage-section">
    <div class="homepage-hero">
        <h1 class="heading--large">Discover Politics In Your State</h1>
        <p class="heading--small">Track bills, review upcoming legislation, and see how your local representatives are voting in your state.</p>

        <div class="site-alert">
          Many state sessions have been suspended as a result of the COVID-19 situation.   We are <a href="/covid19/">tracking legislation related to the Coronavirus response</a> where possible.
        </div>

        <div class="blm-banner">
        <p>Open States' stated mission is to improve civic engagement.</p>
        <p>To be true to that goal, we can not stand by and be silent when a large portion of Americans face systemic racism and other forms of oppression.  That oppression has meant being excluded from civic participation at the ballot box, being called un-American for peaceful protests, and being denied justice for crimes committed against them.</p>
        <b><a href="https://blacklivesmatter.com/">#BlackLivesMatter</a></b>
  </div>

    </div>

    <div class="homepage-grid">
        <div class="text-center">
          <h2 class="heading--medium">Search &amp; Track Legislation</h2>
          <img src="{% static "images/nounproject/political_2003975.svg" %}">
          <form action="/search/">
              <div class="input-group">
                  <input class="input-group-field" type="search" placeholder="Coronavirus, Transportation, etc." name="query">
                  <div class="input-group-button">
                      <input type="submit" class="button button--primary" value="Search">
                  </div>
              </div>
          </form>
        </div>

        <div class="text-center">
            <h2 class="heading--medium">Find Your Legislators</h2>
            <img src="{% static "images/nounproject/people_2911761.svg" %}">
            <form action="/find_your_legislator/">
              <div class="fyl-row">
                <div class="input-group">
                    <input class="input-group-field" type="search" placeholder="Enter Address" name="address">
                    <div class="input-group-button">
                        <input type="submit" class="button button--primary" value="Search">
                    </div>
                </div>

                <div class="fyl-locate">
                  <input type="submit" id="locate" class="button button--primary" name="geolocate" value="Use Current Location">
                </div>
              </div>
            </form>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Dig In To Our Data &amp; APIs</h2>
            <img height="150" src="{% static "images/nounproject/data_2921737.svg" %}">
            <p style="margin-top: 1rem">
                We make all of our data available for <a href="/data/">bulk download</a>
                and via our powerful <a href="https://docs.openstates.org/en/latest/api/v2/">API</a>.
                <br>
                <br>
                <a href="/accounts/profile/#apikey">Get an API key</a> to get started.
            </p>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Project Updates</h2>
            <img height="150" src="{% static "images/nounproject/news_750649.svg" %}">
            {% for update in blog_updates %}
            <div class="blog-update">
                <div class="blog-date">{{ update.date|fdate:"%B %-d, %Y" }}</div>
                <a href="{{ update.link }}">{{ update.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}
