{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}{{ person.name }} - {{ state|state_name }} {{ person.current_role.title }} - Open States{% endblock %}
{% block og_title %}{{ person.name }} - {{ state|state_name }} {{ person.current_role.title }} - Open States{% endblock %}
{% block description %}Contact information and legislative record for {{ person.name }} in  {{ state|state_name }}.{% endblock %}
{% block og_image %}https://data.openstates.org/images/small/{{ person.id }}{% endblock %}

{% block scripts %}
  <script src="{% static "bundles/common_components.js" %}"></script>
  <script src="{% static "bundles/district_map.js" %}"></script>
{% endblock %}

{% block content %}
<section class="section">

    <div class="overview">
        
        <div class="overview__header">
          <div data-hook="legislator-image" data-image="{{ person.image }}" data-person-id="{{ person.id }}" data-size="medium" data-party="{{ person.primary_party }}"> </div>
            <div>
                <h1 class="overview__heading">{{ person.name }}</h1>
                <ul class="card__detail-group">
                    {% if retired %}
                    <li class="card__detail type--xsmall">Former {{ state|state_name }} Legislator</li>
                    {% else %}
                    <li class="card__detail type--xsmall">{{ state|state_name }}</li>
                    <li class="card__detail type--xsmall">{{ person.current_role.title }}</li>
                    <li class="card__detail type--xsmall">{{ person.primary_party|party_noun }}</li>
                    <li class="card__detail type--xsmall">{{ person.current_role.district|district_maybe }} {{ person.current_role.district }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="overview__section overview__section--parent">
            {% if person.all_contact_details %}
                {% regroup person.all_contact_details by note as contact_details %}
                {% for note, cd_list in contact_details %}
                <div class="overview__subsection">
                    <address class="contact">
                        <h3 class="heading--small">{{ note }}</h3>
                        {% for cd in cd_list %}
                            <p>
                            {% if cd.type == 'address' %}
                                {{ cd.value|format_address }}
                            {% elif cd.type == 'voice' %}
                                <span class="contact__label">Phone</span>
                                <a href="tel:{{ cd.value }}">{{ cd.value }}</a>
                            {% elif cd.type == 'fax' %}
                                <span class="contact__label">Fax</span>
                                {{ cd.value }}
                            {% elif cd.type == 'email' %}
                                <span class="contact__label">Email</span>
                                <a href="mailto:{{ cd.value }}">{{ cd.value }}</a>
                            {% endif %}
                            </p>
                        {% endfor %}
                    </address>
                </div>
                {% endfor %}
            {% endif %}

            {% if not retired %}
            <div class="overview__subsection overview__subsection--map">
                <p class="heading--xsmall">Serving {{ district_maybe }} {{ person.current_role.district }}</p>
                <div style="width:280px;height:215px" data-hook="legislator-map"
                    data-division-id="{{ person.current_role.division_id }}"
                    data-state="{{ state }}"></div>
            </div>
            {% endif %}
        </div>
        
        {% if person.committee_memberships %}
        <div class="overview__section">
            <h3 class="heading--xsmall">Committee Memberships ({{ person.committee_memberships|length }})</h3>
            {% for m in person.committee_memberships %}
            <a class="label" href="{% canonical_url m.organization %}">
                <svg class="label__icon"><use xlink:href="{% static 'images/icons.svg' %}#icon-group"></use></svg>
                {{ m.organization.name }}
                {% if m.role.lower != 'member' %}
                <span style="font-weight: normal;">
                    | {{ m.role|title }}
                </span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</section>

{% if person.sponsored_bills %}
<section class="section">
    <h2 class="heading--medium">Sponsored Bills</h2>
    <hr>
    <div class="bill-grid">
    {% for bill in person.sponsored_bills %}
        {% bill_card state bill %}
    {% endfor %}
    </div>

    <a class="button" href="/{{state}}/bills/?sponsor={{person.id}}">
        View more bills
    </a>
</section>
{% endif %}


{% if person.vote_events %}
<section class="section">
    <h2 class="heading--medium">Recent Votes</h2>
    <hr>

    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}
