// Global Sass Variables

// Typography
$source-sans-pro: "Source Sans Pro";

// Colors
$color-royalblue: #005E5C;
$color-darkteal: #002F2E;
$color-mint: #CCEEED;

$color-black: #222222;
$color-gray: #dbe6f1;
$color-gray-light: #edf3f8;
$color-gray-lighter: #f9fdff;
$color-white: #ffffff;

$color-blue: #00abff;
$color-red: #9e0e44;
$color-yellow: #ffd035;
$color-green: #2cceb0;

// Color aliases

$color-primary: $color-royalblue;
$color-secondary: $color-darkteal;
$color-accent: $color-mint;

// Borders
$global-border-width: 2px;
