div.about-openstates {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5em;
    margin-left: 2em;
    margin-right: 2em;
}

div.tos h2 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

div.errorpage {
    text-align: center;
}
