
$margin: 2em;

#home-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
    margin-left: $margin;
    margin-right: $margin;
}

#home-top div {
    display: grid;
    grid-template-columns: auto;
}

#home-top div img {
    align-self: center;
    justify-self: center;
    width: 90px;
    height: 90px;
}
#home-top div h4 {
    justify-self: center;
}


#home-donate {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-left: $margin;
    margin-right: $margin;
}

#home-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
    margin-left: $margin;
    margin-right: $margin;
}
