// Global sass variables


// Typography
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
$source-sans-pro: 'Source Sans Pro';

// Colors
$royalblue: #0039c1;
$darknavy: #002f5a;

$gray-light: #dbe6f1;
$mint-light: #edfdff;

$blue: #00abff;
$red: #9e0e44;
$yellow: #ffd035;
$green: #2cceb0;
