.state-overview-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;

    @include breakpoint(small down) {
        grid-template-columns: auto;
    }
}

.state-map {
    grid-area: 1 / 1 / span 2 / span 1;
}
#state-map-container {
    height: 100%;
}
#state-map-container .mapboxgl-map {
    width: 100%;
    height: 90%;
}

.state-overview-chambers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.state-overview-title {
    display: block;
}


.state-overview-committees {
}
