uwsgi_cache_path /var/lib/nginx/cache levels=1:2 keys_zone=my_cache:10m max_size=2g inactive=60m use_temp_path=off;

{% if server_name  %}
server {
    listen 80;
    server_name _;
    rewrite ^ $scheme://{{server_name}}$uri permanent;
}
{% endif %}
server {
    listen 80;
{% if server_name %}
    server_name {{server_name}};
{% endif %}
{% if ssl_cert %}
    listen 443 ssl http2;
    ssl_certificate {{ssl_cert}};
    ssl_certificate_key {{ssl_key}};
    ssl_prefer_server_ciphers on;
    ssl_ciphers EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_dhparam /etc/nginx/certs/dhparams.pem;
{% endif %}


    location / {
        uwsgi_pass unix:///home/openstates/data/uwsgi.sock;
        include uwsgi_params;
        uwsgi_cache_key $request_uri;
        uwsgi_cache_valid 200 302 10m;
        uwsgi_cache_valid 301 404  1h;
        uwsgi_cache_valid any      1m;
        uwsgi_cache my_cache;
        add_header X-Cache-Status $upstream_cache_status;
        expires 2h;
    }

    location /robots.txt {
        root /home/openstates/src/openstates.org/;
    }
    location /favicon.ico {
        root /home/openstates/src/openstates.org/media/images/;
    }
    location /.well-known/ {
        root /home/openstates/letsencrypt/;
    }
}
