{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %}{{ state|state_name }} Bills - Open States{% endblock %}
{% block description %}Search and browse all bills introduced within {{ state|state_name }}.{% endblock %}

{% block content %}
    <h1>{{ state|state_name }} Bills</h1>
    Showing {{ bills.start_index }}-{{ bills.end_index }} of {{ bills.paginator.count }}.

    {% pagination bills %}

    <table>
        <thead>
            <tr>
                <th>Bill Title</th>
                <th>Introduced</th>
                <th>Latest Action</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
                <tr>
                    <td>
                        <a href="{% canonical_url bill %}">{{ bill.identifier }}</a>
                        <span>({{ bill.legislative_session.name }})</span>
                        <span>{{ bill.title }}</span>
                    </td>
                    <td>{{ bill.first_action_date|fdate:"%b %d %Y" }}</td>
                    <td>
                        <span>{{ bill.latest_action_description }}</span>
                        <span>{{ bill.latest_action_date|fdate:"%b %d %Y" }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% pagination bills %}

    <div>
        <div>
            <span>Bills Search</span>
            <span>Clear filters</span>
        </div>
        <form>
            <label for="query">Search text</label>
            <input id="query" name="query" type="text" placeholder="Search text" value="{{ form.query }}" />

            <span>Bill Status</span>
            <div>
                {% if chambers|length > 1 %}
                <input type="checkbox" name="status" id="passed-lower-chamber" value="passed-lower-chamber"
                {% if "passed-lower-chamber" in form.status %} checked {% endif %}
                />
                <label for="passed-lower-chamber">Passed {{ chambers.lower }}</label>

                <input type="checkbox" name="status" id="passed-upper-chamber" value="passed-upper-chamber"
                {% if "passed-upper-chamber" in form.status %} checked {% endif %}
                />
                <label for="passed-upper-chamber">Passed {{ chambers.upper }}</label>

                {% else %}
                <input type="checkbox" name="status" id="passed-upper-chamber" value="passed-upper-chamber"
                {% if "passed-upper-chamber" in form.status %} checked {% endif %}
                />
                <label for="passed-upper-chamber">Passed {{ chambers.legislature }}</label>
                {% endif %}
                <input type="checkbox" name="status" id="signed" value="signed"
                {% if "signed" in form.status %} checked {% endif %}
                />
                <label for="signed">Signed into Law</label>
            </div>

            <label for="session">Session</label>
            <select id="session" name="session">
                <option value="">(all sessions)</option>
                {% for session in sessions %}
                <option value="{{ session.identifier }}"
                    {% if session.identifier == form.session %}selected{% endif %}
                    {% if not session.identifier and forloop.first %}selected{% endif %}>
                    {{ session }}
                </option>
                {% endfor %}
            </select>

            {% if chambers|length > 1 %}
            <span>Chamber of Origin</span>
            <div>
                <input type="radio" name="chamber" id="either-chamber" value=""
                {% if form.chamber == "" %} checked {% endif %} />
                <label for="either-chamber">Either Chamber</label>

                <input type="radio" name="chamber" id="lower-chamber" value="lower"
                {% if form.chamber == "lower" %} checked {% endif %} />
                <label for="lower-chamber">{{ chambers.lower }}</label>

                <input type="radio" name="chamber" id="upper-chamber" value="upper"
                {% if form.chamber == "upper" %} checked {% endif %} />
                <label for="upper-chamber">{{ chambers.upper }}</label>
            </div>
            {% endif %}

            <label for="sponsor">Sponsor Name</label>
            <select id="sponsor" name="sponsor">
                <option value=""></option>
                {% for sponsor in sponsors %}
                <option value="{{ sponsor.id }}" {% if sponsor.id == form.sponsor %} selected {% endif %}>
                    {{ sponsor.name }}
                </option>
                {% endfor %}
            </select>

            <label for="classification">Type</label>
            <select id="classification" name="classification">
                <option value=""></option>
                {% for classification in classifications %}
                    <option value="{{ classification }}" {% if classification == form.classification %} selected {% endif %}>
                    {{ classification|title }}</option>
                {% endfor %}
            </select>

            <label for="subjects">Subjects</label>
            <select id="subjects" name="subjects" multiple>
                {% for subject in subjects %}
                    <option value="{{ subject }}" {% if subject in form.subjects %} selected {% endif %}>
                    {{ subject }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
