{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}{{ bill.identifier }} - {{ state|state_name }} {{ bill.from_organization.name }} ({{bill.legislative_session.identifier }}) - Open States{% endblock %}
{% block description %}Details on {{ state|state_name }} {{ bill.identifier}} ({{ bill.legislative_session }}) - {{ bill.title }}{% endblock %}

{% block content %}


<section class="section">
    <div class="overview">
        
        <div class="overview__header">
            <div>
                <h1 class="overview__heading">{{ bill.identifier }}</h1>
                <ul class="card__detail-group">
                    <li class="card__detail type--xsmall">{{state|state_name}} {{ bill.from_organization.name }} {{ bill.classification.0|title }}</li>
                    <li class="card__detail type--xsmall">{{ bill.legislative_session.name }}</li>
                </ul>
                <div class="grid-x grid-margin-x align-justify">
                    <div class="cell small-12 medium-9">
                        <h3 class="heading--medium">{{ bill.title }}</h3>
                    </div>
                    <div class="cell shrink">
                        <!-- TODO: Add icon indicating external link -->
                        <a class="button" href="{{ read_link }}">View Latest Bill Text</a>
                    </div>
                </div>
            </div>
            <!-- TODO: BILL STATUS PROGRESS BAR -->
        </div>
        
        <div class="overview__section">
            {% if bill.subject %}
            <div class="mb2">
                <h3 class="heading--xsmall">Bill Subjects</h3>
                {% for subject in bill.subject %}
                    <!-- TODO: Link to bill subjects -->
                    <a class="label" link="#">{{ subject }}</a>
                {% endfor %}
            </div>
            {% endif %}


            <h3 class="heading--xsmall">Bill Sponsors ({{ sponsorships|length }})</h3>
            
            <div class="grid-container full">
                <div class="grid-x grid-margin-x medium-up-2 large-up-3">
                    {% for sponsor in sponsorships|dictsortreversed:"primary" %}
                    <div class="cell">
                        <div class="card card--profile">
                            {% if sponsor.person %}
                                {% if sponsor.person.headshot_url %}
                                    <img class="thumbnail thumbnail--small mr1" src="{{ sponsor.person.headshot_url }}" alt="Headshot for {{ sponsor.person.name }}">
                                {% else %}
                                    <div class="thumbnail thumbnail--placeholder thumbnail--small mr1"></div>
                                {% endif %}
                                    <div>
                                        <h3 class="card__heading heading--small">{{ sponsor.person.name }}</h3>
                                        <ul class="card__detail-group">
                                            <li class="card__detail type--xsmall">TO-DO (PARTY) DISTRICT</li>
                                            <li class="card__detail type--xsmall">Details</li>
                                            <li class="card__detail type--xsmall">Details</li>
                                        </ul>
                                        <div class="heading--xsmall">{{ sponsor.classification|title }}</div>
                                    </div>
                            {% else %}
                                <div class="thumbnail thumbnail--placeholder thumbnail--small mr1"></div>
                                <div>
                                    <h3 class="card__heading heading--small">{{ sponsor.name }}</h3>
                                    <div class="heading--xsmall">{{ sponsor.classification|title }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <!-- TODO: Paginate/hide lengthier lists of sponsors -->
                </div>
            </div>

        </div>
    </div>
</section>

                    <span>{{ sponsor.classification|title }}</span>
    <section>
        <h1>Recent Votes</h1>
        {% regroup votes by start_date as votes_by_date %}
        {% for start_date in votes_by_date reversed %}
            <span>{{ start_date.grouper }}</span>
            {% for vote_event in start_date.list %}
                {% vote_card vote_event %}
            {% endfor %}
        {% endfor %}
    </section>

    <section>
        <h1>Actions</h1>
        {% regroup actions by date as actions_by_date %}
        {% for date in actions_by_date reversed %}
            <span>{{ date.grouper }}</span>
            {% for action in date.list %}
                {% action_card action %}
            {% endfor %}
        {% endfor %}
    </section>

    <section>
        <h1>Bill Text</h1>
        <ul>
            {% for version in versions reversed %}
            {% document_card version %}
            {% endfor %}
        </ul>
    </section>

    <section>
        <h1>Related Documents</h1>
        <ul>
            {% for document in documents reversed %}
            {% document_card document %}
            {% endfor %}
        </ul>
    </section>

    {% sources state bill.sources.all %}
{% endblock %}
