{% extends "../components/base.html" %}
{% load custom_tags %}

{% block content %}
    <h1>{{ state|state_name }} Bills</h1>

    <table>
        <thead>
            <tr>
                <th>Bill Title</th>
                <th>Introduced</th>
                <th>Latest Action</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
                <tr>
                    <td>
                        <a href="{% canonical_url bill %}">{{ bill.identifier }}</a>
                        <span>({{ bill.legislative_session.name }})</span>
                        <span>{{ bill.title }}</span>
                    </td>
                    <td>{{ bill.first_action_date|fdate:"%b %d %Y" }}</td>
                    <td>
                        <span>{{ bill.latest_action_description }}</span>
                        <span>{{ bill.latest_action_date|fdate:"%b %d %Y" }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <div>
            <span>Bills Search</span>
            <span>Clear filters</span>
        </div>
        <form>
            <label for="search-text">Search text</label>
            <input id="search-text" type="text" placeholder="Search text" />

            <span>Bill Status</span>
            <div>
                {% if chambers|length > 1 %}
                <input type="checkbox" name="bill-status" id="passed-lower-chamber" value="passed-lower-chamber" />
                <label for="passed-lower-chamber">Passed {{ chambers.lower }}</label>

                <input type="checkbox" name="bill-status" id="passed-upper-chamber" value="passed-upper-chamber" />
                <label for="passed-upper-chamber">Passed {{ chambers.upper }}</label>

                {% else %}
                <input type="checkbox" name="bill-status" id="passed-upper-chamber" value="passed-upper-chamber" />
                <label for="passed-upper-chamber">Passed {{ chambers.legislature }}</label>
                {% endif %}
                <input type="checkbox" name="bill-status" id="signed-into-law" value="signed-into-law" />
                <label for="signed-into-law">Signed into Law</label>
            </div>

            <label for="session">Session</label>
            <select id="session">
                <option value="">(all sessions)</option>
                {% for session in sessions %}
                <option value="{{ session.identifier }}" {% if forloop.first %}selected{% endif %}>{{ session }}</option>
                {% endfor %}
            </select>

            {% if chambers|length > 1 %}
            <span>Chamber of Origin</span>
            <div>
                <input type="radio" name="chamber-of-origin" id="either-chamber" value="" />
                <label for="either-chamber">Either Chamber</label>

                <input type="radio" name="chamber-of-origin" id="lower-chamber" value="lower" />
                <label for="lower-chamber">{{ chambers.lower }}</label>

                <input type="radio" name="chamber-of-origin" id="upper-chamber" value="upper" />
                <label for="upper-chamber">{{ chambers.upper }}</label>
            </div>
            {% endif %}

            <label for="sponsor-name">Sponsor Name</label>
            <select id="sponsor-name">
                <option value=""></option>
                {% for legislator_name in legislator_names %}
                    <option value="{{ legislator_name }}">{{ legislator_name }}</option>
                {% endfor %}
            </select>

            <label for="type">Type</label>
            <select id="type">
                <option value=""></option>
                {% for type in types %}
                    <option value="{{ type }}">{{ type|title }}</option>
                {% endfor %}
            </select>

            <label for="subjects">Subjects</label>
            <select id="subjects" multiple>
                {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
