{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %}{{committee.name}} - {{ state|state_name }} - Open States{% endblock %}
{% block description %}Members of {{committee.name}} ({{ state|state_name }}  {{committee.parent}} Committee).{% endblock %}

{% block content %}
    <h1>{{ committee.name }}</h1>
    <span>
        {% if committee.parent.classification == "legislature" %}
        {{ committee.parent }}
        {% else %}
        {{ state|state_name }} {{ committee.parent }} Committee
        {% endif %}
    </span>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Party</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in memberships %}
            <tr>
                {% if membership.member %}
                <td>
                    <img class="thumbnail thumbnail--small" src="{{ membership.member.image_url }}">
                </td>
                <td><a href="{{ membership.member.pretty_url }}">{{ membership.member.name }}</a></td>
                <td>{{ membership.member.current_role.party }}</td>
                {% else %}
                <td>
                    <div class="thumbnail thumbnail--small thumbnail--placeholder"></div>
                </td>
                <td>{{ membership.person_name }}</td>
                <td></td>
                {% endif %}
                <td>{{ membership.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
