{% extends "../components/base.html" %}
{% load custom_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}{{committee.name}} - {{ state|state_name }} - Open States{% endblock %}
{% block og_title %}{{committee.name}} - {{ state|state_name }} - Open States{% endblock %}
{% block description %}Members of {{committee.name}} ({{ state|state_name }}  {{committee.parent}} Committee).{% endblock %}

{% block scripts %}
    {% render_bundle 'legislator-image' 'js' %}
{% endblock %}

{% block content %}
    <h1 class="heading--large">{{ committee.name }}</h1>
    <h2 class="heading--small">
        {% if committee.parent.classification == "legislature" %}
        {{ committee.parent }}
        {% else %}
        {{ state|state_name }} {{ committee.parent }} Committee
        {% endif %}
    </h2>

    <table class="hover">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Party</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in memberships %}
            <tr>
                {% if membership.member %}
                <td>
                    <div data-hook="legislator-image" data-image="{{ membership.member.image }}" data-person-id="{{ membership.person_id }}"> </div>
                </td>
                <td><a href="{{ membership.member.pretty_url }}">{{ membership.member.name }}</a></td>
                <td>{{ membership.member.current_role.party }}</td>
                {% else %}
                <td>
                    <div class="thumbnail thumbnail--small thumbnail--placeholder"></div>
                </td>
                <td>{{ membership.person_name }}</td>
                <td></td>
                {% endif %}
                <td>{{ membership.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% sources state committee.sources.all %}
{% endblock %}
