{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %}{{committee.name}} - {{ state|state_name }} - Open States{% endblock %}
{% block description %}Members of {{committee.name}} ({{ state|state_name }}  {{committee.parent}} Committee).{% endblock %}

{% block content %}
    <h1>{{ committee.name }}</h1>
    <span>{{ state|state_name }} {{ committee.parent }} committee</span>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Party</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for member in committee_members %}
            <tr>
                <td>
                    <img class="thumbnail thumbnail--small" src="{{ member.image_url }}">
                </td>
                <td>{{ member.name }}</td>
                <td>{{ member.current_role.party }}</td>
                <td>{{ member.committee_role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
