{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Find Your State Legislators - Open States{% endblock %}
{% block og_title %}Find Your State Legislators - Open States{% endblock %}
{% block description %}Find out who represents you in your state legislature with Open States.{% endblock %}


{% block content %}
<h1 class="heading--large">Find Your Legislators</h1>

<div data-hook="find-your-legislator"></div>
<noscript>This page requires JavaScript enabled.</noscript>
{% endblock %}


{% block scripts %} 
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHXDvbO733mGwjzREpnqnnkoz9sPQqwAk"> </script>
{% endblock %}
