{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %}{{ state|state_name }} Legislators - Open States{% endblock %}
{% block og_title %}{{ state|state_name }} Legislators - Open States{% endblock %}
{% block description %}Learn more about who represents you in {{state|state_name}}.{% endblock %}

{% block content %}
    <h1 class="heading--large">{{ state|state_name }} Legislators</h1>

    <div class="legislators-container">

    <div id="fyl-aside" class="sidebar">
        <h4 class="heading--small">Don't know who your legislator is?</h4>
        <h4 class="heading--small">Find them now!</h4>

        <form action="/find_your_legislator/">
            <input type="text" placeholder="123 Main St, Portland, ME" name="address" id="fyl-input" />
            <input type="submit" value="Search" class="button" />
        </form>
    </div>

    <div id="legislator-list" data-hook="legislator-list"></div>

    <script>
        window.legislators = {{ legislators|jsonify }};
        window.chambers = {{ chambers|jsonify }};
    </script>
    <noscript>
        <ul>
        {% for leg in legislators %}
        <li><a href="{{ leg.pretty_url }}">{{ leg.name }}</a></li>
        {% endfor %}
        </ul>
    </noscript>

    </div>
{% endblock %}
