
    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}

    <h2 class="heading--medium">Sponsored Bills</h2>
    <hr>
    <hr>
    <div class="timeline">
    {% regroup person.vote_events by start_date as votes_by_date %}
    {% for start_date in votes_by_date reversed %}
        {% for vote_event in start_date.list %}
        <div class="timeline-item">
            <div class="timeline-date">
                {% if forloop.first %}
                <h3 class="heading--xsmall">{{ start_date.grouper|fdate:"%b %d, %Y" }}</h3>
                {% endif %}
            </div>
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity">
                {% vote_card vote_event %}
            
            {% for vote_event in start_date.list %}
            <div class="timeline-activity__group">
                <div class="timeline-activity">
                    {% vote_card vote_event %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</section>
{% endif %}

{% sources state person.sources.all %}

{% endblock %}
