{% extends "../components/base.html" %}
{% load custom_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}"{{ query }}" - Open States{% endblock %}
{% block og_title %}{{ query }} - Open States{% endblock %}
{% block description %}Search bills and people for {{ query }}.{% endblock %}

{% block scripts %}
    {% render_bundle 'common_components' 'js' %}
{% endblock %}
{% block styles %}
    {% render_bundle 'common_components' 'css' %}
{% endblock %}

{% block content %}
<section class="section">
    <h1 class="heading--large">Search</h1>

    <div class="grid-x grid-margin-x">
        <div class="cell medium-9">

<section>    
<h2 class="heading--medium">Bills</h2>
      <p>Showing {{ bills.start_index }} to {{ bills.end_index }} of {{ bills.paginator.count }} bills</p>
      {% pagination bills request.GET %}</p>

            <table class="hover">
                <thead>
                    <tr>
                        <th>Bill Title</th>
                        <th width="100">Introduced</th>
                        <th width="250">Latest Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                        <tr class="row--align-top">
                            <td>
                                <strong><a href="{% canonical_url bill %}">{{ bill.identifier }}</a></strong>
                                <span class="u-color--gray">(<strong>{{ bill.legislative_session.jurisdiction }}</strong> - {{ bill.legislative_session.name }})</span>
                                <br>
                                <span>{{ bill.title|titlecase_caps }}</span>
                            </td>
                            <td>{{ bill.billstatus.first_action_date|fdate:"%b %d %Y" }}</td>
                            <td>
                                <span>{{ bill.billstatus.latest_action_description|title }}</span>
                                <br>
                                <span class="u-color--gray">{{ bill.billstatus.latest_action_date|fdate:"%b %d %Y" }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Showing {{ bills.start_index }} to {{ bills.end_index }} of {{ bills.paginator.count }} bills</p>
            {% pagination bills request.GET %}</p>
</section>


<section>
  <h2 class="heading--medium">Legislators</h2>
    <div id="legislator-list" data-hook="legislator-list"></div>

    <script>
        window.legislators = {{ people|jsonify }};
        window.chambers = [ {"upper": "Upper"} ];
    </script>
    <noscript>
        <ul>
        {% for p in people %}
        <li><a href="{{ p.pretty_url }}">{{ p.name }}</a></li>
        {% endfor %}
        </ul>
    </noscript>
</section>

        </div>
    </div>
</section>
{% endblock %}
