{% extends "../components/base.html" %}

{% block content %}
	<h1>{{ legislature.name }}</h1>

	<section>
		<div>
			{% if chambers|length > 1 %}
				{% for chamber in chambers %}
					<div>
						<a href="{% url 'legislators' state %}?chamber={{ chamber.classification }}">
							<span>{{ chamber.seats }}</span>
							<span>{{ chamber.name }} Seats</span>
						</a>
						<ul>
							{% for party, count in chamber.parties.items %}
								<li>{{ count }} {{ party }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			{% else %}
				<div>
					<a href="{% url 'legislators' state %}">
						<span>{{ chambers.0.seats }}</span>
						<span>Seats</span>
					</a>
					<ul>
						{% for party, count in chambers.0.parties.items %}
							<li>{{ count }} {{ party }}</li>
						{% endfor %}
					</ul>
				</div>

			{% endif %}
		</div>

		<div>
			{% if chambers|length > 1 %}
				{% for chamber in chambers %}
					<div>
						<span>{{ chamber.committee_count }}</span>
						<span>{{ chamber.name }} Committees</span>
					</div>
				{% endfor %}
				{% if legislature.committee_count and chambers|length > 1 %}
					<div>
						<span>{{ legislature.committee_count }}</span>
						<span>Joint Committees</span>
					</div>
				{% endif %}
			{% else %}
				<div>
					<span>{{ legislature.committee_count }}</span>
					<span>Committees</span>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
