{% extends "../components/base.html" %}

{% block content %}

<!-- Typography -->
<div class="section">
    <h2 class="heading--small">Typography</h2>
    <hr>
    <h1 class="heading--large">We the People of the United States</h1>
    <h2 class="heading--medium">We the People of the United States</h2>
    <h3 class="heading--small">We the People of the United States</h3>
    <h3 class="heading--xsmall">We the People of the United States</h3>

    <p>
        We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.
    </p>

    <p class="type--xsmall">
        We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.
    </p>

    <h3 class="heading--xsmall">Narrow Measure</h3>
    <p class="u-measure--narrow">
        We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.
    </p>

    <h3 class="heading--xsmall">Base Measure</h3>
    <p class="u-measure--base">
        We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.
    </p>

    <h3 class="heading--xsmall">Wide Measure</h3>
    <p class="u-measure--wide">
        We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.
    </p>
</div>

<!-- Color Palette -->
<div class="section">
    <h2 class="heading--small">Color Palette</h2>
    <hr>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x small-up-2 medium-up-4">
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--primary"></div>
                    <div class="card-section type--xsmall">
                        <strong>#0039c1</strong>
                        <br>
                        <code class="swatch__label">$primary-color</code>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--secondary"></div>
                    <div class="card-section type--xsmall">
                        <strong>#002f5a</strong>
                        <br>
                        <code class="swatch__label">$secondary-color</code>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--gray-light"></div>
                    <div class="card-section type--xsmall">
                        <strong>#dbe6f1</strong>
                        <br>
                        <code class="swatch__label">$gray-light</code>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--mint-light"></div>
                    <div class="card-section type--xsmall">
                        <strong>#edfdff</strong>
                        <br>
                        <code class="swatch__label">$mint-light</code>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x small-up-2 medium-up-4">
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--blue"></div>
                    <div class="card-section type--xsmall">
                        <strong>#00abff</strong>
                        <br>
                        <code class="swatch__label">$blue</code>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--red"></div>
                    <div class="card-section type--xsmall">
                        <strong>#9e0e44</strong>
                        <br>
                        <code class="swatch__label">$red</code>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--yellow"></div>
                    <div class="card-section type--xsmall">
                        <strong>#ffd035</strong>
                        <br>
                        <code class="swatch__label">$yellow</code>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="swatch u-fill--green"></div>
                    <div class="card-section type--xsmall">
                        <strong>#2cceb0</strong>
                        <br>
                        <code class="swatch__label">$green</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
