{% extends "../components/base.html" %}

{% block content %}

<!-- Typography -->
<h2 class="heading--small">Typography</h2>
<hr>
<h1 class="heading--large">Heading Large</h1>
<h2 class="heading--medium">Heading Medium</h2>
<h3 class="heading--small">Heading Small</h3>
<h3 class="heading--xsmall">Heading xsmall</h3>

<p class="type--xsmall">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>

<!-- Color Palette -->
<h2 class="heading--small">Color Palette</h2>
<hr>
<div class="grid-container full">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4">
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--royalblue"></div>
                <div class="card-section type--xsmall">
                    <strong>#1B4CC1</strong>
                    <br>
                    <code class="swatch__label">$royalblue</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--darknavy"></div>
                <div class="card-section type--xsmall">
                    <strong>#233240</strong>
                    <br>
                    <code class="swatch__label">$darknavy</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--palemint"></div>
                <div class="card-section type--xsmall">
                    <strong>#F9FDFF</strong>
                    <br>
                    <code class="swatch__label">$palemint</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--gray"></div>
                <div class="card-section type--xsmall">
                    <strong>#D7E0E9</strong>
                    <br>
                    <code class="swatch__label">$gray</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--lightgray"></div>
                <div class="card-section type--xsmall">
                    <strong>#E4EBF2</strong>
                    <br>
                    <code class="swatch__label">$lightgray</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--blue"></div>
                <div class="card-section type--xsmall">
                    <strong>#179EE0</strong>
                    <br>
                    <code class="swatch__label">$blue</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--red"></div>
                <div class="card-section type--xsmall">
                    <strong>#FF5D40</strong>
                    <br>
                    <code class="swatch__label">$red</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--yellow"></div>
                <div class="card-section type--xsmall">
                    <strong>#EEC232</strong>
                    <br>
                    <code class="swatch__label">$yellow</code>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="swatch u-fill--green"></div>
                <div class="card-section type--xsmall">
                    <strong>#30C170</strong>
                    <br>
                    <code class="swatch__label">$green</code>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
