{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}{{ vote.organization }} vote on {{ vote.bill }} - Open States {% endblock %}
{% block description %}View the {{ state|state_name }} {{ vote.organization }} vote history on {{ vote.bill }}.{% endblock %}

{% block content %}
<section class="section">
    <div class="overview">
        <div class="overview__header">
            <div style="width: 100%;">
                <div class="flex-container align-justify">
                    <h3 class="overview__heading">{{ vote.organization }} Vote on {{ vote.bill.identifier }}</h3>
                    <span style="height: min-content;" class="label
                        {% if vote.result == 'pass' %}
                            label--green
                        {% elif vote.result == 'fail' %}
                            label--red
                        {% endif %}
                    ">
                        {{ vote.result|title }}
                    </span>
                </div>
                <ul class="no-bullet">
                    <li>
                        <strong>Motion Text:</strong> {{ vote.motion_text }}
                    </li>
                    <li>
                        <strong>Legislative Session:</strong> {{ vote.legislative_session }}
                    </li>
                    <li>
                        <strong>Date:</strong> {{ vote.start_date|fdate:"%b %d, %Y" }}
                    </li>
                    <li>
                        <strong>Outcome:</strong> {{ vote.result|title }}
                    </li>
                </ul>
        </div>
        </div>
        <div class="overview__section overview__section--parent">
            <div class="overview__subsection">
                <table>
                    <thead>
                        <tr>
                            <th>Breakdown by Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vc in vote_counts %}
                            <tr>
                                <th>{{ vc.option|title }}</th>
                                <td>{{ vc.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- TODO: Include party totals for votes -->
            <div class="overview__subsection">
                <table>
                    <thead>
                        <tr>
                            <th>Breakdown by Party</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="overview__section"></div> -->
    </div>
    <!-- TODO: Summary/Link to bill (bill_action if present) -->
</section>

<section class="section">
    <h2 class="heading--medium">Roll Call</h2>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Vote</th>
            </tr>
        </thead>
        <tbody>
            {% for pv in person_votes %}
            <tr>
                {% if pv.voter %}
                    <td>{{ pv.voter.name }}</td>
                {% else %}
                    <td>{{ pv.voter_name }}</td>
                {% endif %}
                <td>{{ pv.option|title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% sources state vote.sources.all %}
{% endblock %}
